chatbot.json
[{"id":"7eff514d.2b6bf","type":"tab","label":"Demo Farmacia + Murta","disabled":true,"info":""},{"id":"b9228927.8ab838","type":"chatbot-telegram-receive","z":"7eff514d.2b6bf","bot":"51a94ac1.a12314","botProduction":"","x":111,"y":140,"wires":[["c2c24cb8.1a8ad","522fcf75.e7103"]]},{"id":"32f3349a.36a76c","type":"chatbot-message","z":"7eff514d.2b6bf","name":"","message":[{"message":"Benvenuti nella farmacia \"Il Disagio\""}],"language":"none","x":630,"y":100,"wires":[["d11f0631.4b6aa8"]]},{"id":"7ba6e404.2bf2fc","type":"chatbot-telegram-send","z":"7eff514d.2b6bf","bot":"51a94ac1.a12314","botProduction":"","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1130,"y":200,"wires":[]},{"id":"d11f0631.4b6aa8","type":"chatbot-location","z":"7eff514d.2b6bf","name":"","latitude":"50","longitude":"50","place":"","x":800,"y":100,"wires":[["7ba6e404.2bf2fc"]]},{"id":"fa707471.74fdf8","type":"chatbot-rules","z":"7eff514d.2b6bf","name":"","rules":[{"type":"command","command":"/dove"},{"type":"isIntentName","intent":"where"},{"type":"isIntentName","intent":"buy"},{"type":"isIntentName","intent":"cart"},{"type":"catchAll"}],"outputs":5,"x":350,"y":240,"wires":[["32f3349a.36a76c"],["32f3349a.36a76c"],["bea64818.512ab8"],["12b3318a.e9d98e"],["c588036e.8315d"]]},{"id":"c588036e.8315d","type":"chatbot-message","z":"7eff514d.2b6bf","name":"Non ho capito","message":[{"message":"Non ho capito"}],"language":"none","x":700,"y":500,"wires":[["7ba6e404.2bf2fc"]]},{"id":"df2bb7fa.176a08","type":"chatbot-nlpjs-intent","z":"7eff514d.2b6bf","intent":"where","language":"it","utterances":["dove siete","dove si trova la farmacia","qual'e' l'indirizzo della farmacia","come vi posso raggiungere","dove vi trovo","in quale via state"],"outputs":1,"x":200,"y":660,"wires":[["67d4c92.58f7f38"]]},{"id":"5126ec45.bbf714","type":"chatbot-nlpjs-train","z":"7eff514d.2b6bf","name":"","debug":true,"x":600,"y":900,"wires":[[]]},{"id":"ef0fe617.5ff6b8","type":"inject","z":"7eff514d.2b6bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":600,"wires":[["df2bb7fa.176a08"]]},{"id":"c2c24cb8.1a8ad","type":"chatbot-nlpjs","z":"7eff514d.2b6bf","name":"","debug":true,"scoreThreshold":50,"x":150,"y":240,"wires":[["fa707471.74fdf8"]]},{"id":"67d4c92.58f7f38","type":"chatbot-nlpjs-entity","z":"7eff514d.2b6bf","name":"product","language":"it","entities":[{"name":"aspirina","aliases":[""]},{"name":"oki","aliases":[""]},{"name":"sciroppo","aliases":[""]},{"name":"sviluppina","aliases":[""]},{"name":"tisana","aliases":[""]}],"outputs":1,"x":200,"y":720,"wires":[["3ba0803b.c1e1a"]]},{"id":"3ba0803b.c1e1a","type":"chatbot-nlpjs-intent","z":"7eff514d.2b6bf","intent":"buy","language":"it","utterances":["vorrei un %product%","mi dia un %product%","avete un %product%","dammi un %product%","mi serve un %product%"],"outputs":1,"x":190,"y":780,"wires":[["692fa00c.6a13e"]]},{"id":"f6a62b3c.2bb668","type":"http request","z":"7eff514d.2b6bf","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://crudcrud.com/api/5120e28edd8749c5af8d3cd096da827f/carts","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":220,"wires":[["d22a42ca.a87b"]]},{"id":"bea64818.512ab8","type":"function","z":"7eff514d.2b6bf","name":"aggiunta al carrello","func":"const { payload } = msg;\nconst chat = msg.chat();\n\nreturn {\n    ...msg,\n    payload: {\n        product: payload.variables.product,\n        userId: chat.get('chatId')\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":220,"wires":[["f6a62b3c.2bb668"]]},{"id":"d22a42ca.a87b","type":"chatbot-message","z":"7eff514d.2b6bf","name":"","message":[{"message":"ok, ho aggiunto {{payload.product}}"}],"language":"none","x":910,"y":220,"wires":[["7ba6e404.2bf2fc"]]},{"id":"692fa00c.6a13e","type":"chatbot-nlpjs-intent","z":"7eff514d.2b6bf","intent":"info","language":"en","utterances":["quali tipi di %product% avete","che tipo di %product% esistono","quale %product% avete"],"outputs":1,"x":191,"y":840,"wires":[["5f816234.88e93c"]]},{"id":"5f816234.88e93c","type":"chatbot-nlpjs-intent","z":"7eff514d.2b6bf","intent":"cart","language":"it","utterances":["cosa c'e' nel carrello","fammi vedere il carrello","mostrami il carrello"],"outputs":1,"x":190,"y":900,"wires":[["5126ec45.bbf714"]]},{"id":"12b3318a.e9d98e","type":"http request","z":"7eff514d.2b6bf","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://crudcrud.com/api/5120e28edd8749c5af8d3cd096da827f/carts","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":340,"wires":[["d76bec1f.55316"]]},{"id":"23ca9cdf.e00364","type":"template","z":"7eff514d.2b6bf","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Il tuo carrello:\n{{#payload}}\n- {{product}}\n{{/payload}}","output":"str","x":1020,"y":340,"wires":[["28602849.098d58"]]},{"id":"28602849.098d58","type":"chatbot-message","z":"7eff514d.2b6bf","name":"","message":[],"language":"none","x":1170,"y":340,"wires":[["7ba6e404.2bf2fc"]]},{"id":"d76bec1f.55316","type":"function","z":"7eff514d.2b6bf","name":"filtro utenti per il carrello","func":"const { payload } = msg;\nconst chat = msg.chat();\n\nreturn {\n    ...msg,\n    payload: payload.filter(({ userId }) => userId = chat.get('chatId'))\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":340,"wires":[["23ca9cdf.e00364"]]},{"id":"7d229ca0.910104","type":"inject","z":"7eff514d.2b6bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":1020,"wires":[["302c135b.7399bc"]]},{"id":"302c135b.7399bc","type":"chatbot-conversation","z":"7eff514d.2b6bf","name":"","botDevelopment":"40d9aa44.f96784","botProduction":"","chatId":"","userId":"","transport":"telegram","store":"","x":420,"y":1020,"wires":[["aa56c00e.f03f"]]},{"id":"aa56c00e.f03f","type":"chatbot-message","z":"7eff514d.2b6bf","name":"","message":[{"message":"Hai lasciato un carrello in sospeso"}],"language":"none","x":600,"y":1020,"wires":[["7ba6e404.2bf2fc"]]},{"id":"7bcfd99d.e328c8","type":"comment","z":"7eff514d.2b6bf","name":"https://crudcrud.com/","info":"","x":140,"y":40,"wires":[]},{"id":"522fcf75.e7103","type":"debug","z":"7eff514d.2b6bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":80,"wires":[]},{"id":"8ab8ecf9.7f9e1","type":"chatbot-telegram-receive","z":"7eff514d.2b6bf","d":true,"bot":"ac79a5fc.6f5af8","botProduction":"","x":110,"y":1660,"wires":[["a0c2e983.3d0468","ac92f657.885798"]]},{"id":"5b019324.0044ac","type":"chatbot-rules","z":"7eff514d.2b6bf","name":"","rules":[{"type":"isIntentName","intent":"bestemmie"},{"type":"command","command":"/rank"}],"outputs":2,"x":530,"y":1660,"wires":[["486720f5.11fb1"],["8953e7ce.512828"]]},{"id":"3aada9d6.eecfd6","type":"chatbot-telegram-send","z":"7eff514d.2b6bf","d":true,"bot":"c501b94a.c981d8","botProduction":"","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1530,"y":1560,"wires":[]},{"id":"a0c2e983.3d0468","type":"chatbot-nlpjs","z":"7eff514d.2b6bf","name":"","debug":false,"scoreThreshold":"50","x":350,"y":1660,"wires":[["5b019324.0044ac"]]},{"id":"7b2e1fc3.06f6f","type":"chatbot-nlpjs-intent","z":"7eff514d.2b6bf","intent":"bestemmie","language":"it","utterances":["porco %gods%","porca %gods%","%gods% porco","%gods% bastardo","%gods% cane","%gods% puttana"],"outputs":1,"x":150,"y":1860,"wires":[[]]},{"id":"7bfec340.a8b30c","type":"inject","z":"7eff514d.2b6bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1780,"wires":[["1e970396.ce0afc"]]},{"id":"f8bc33f0.e121d","type":"chatbot-message","z":"7eff514d.2b6bf","name":"","message":[{"message":"Eh! Eh! Non si fa {{firstName}} !\nNon bestemmiare {{payload.gods}} e ricorda sempre:"},{"message":"Perchè prendersela con {{payload.gods}} ? La vita ti ama {{payload.userN}} !"},{"message":"Non nominare il nome di {{payload.gods}} in vano!\n"}],"language":"none","x":890,"y":1560,"wires":[["2cdd0b60.1297d4"]]},{"id":"2cdd0b60.1297d4","type":"chatbot-image","z":"7eff514d.2b6bf","name":"","filename":"","image":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiEe-PLDlGhKsHBAjnEv-5bNi5ukQusnM0R37SQEDEQdTxifH2bkwzPHYKCxdXewK0ASU&usqp=CAU","caption":"","x":1010,"y":1560,"wires":[["3aada9d6.eecfd6"]]},{"id":"1e970396.ce0afc","type":"chatbot-nlpjs-entity","z":"7eff514d.2b6bf","name":"gods","language":"it","entities":[{"name":"dio","aliases":["Dio"]},{"name":"gesu","aliases":["Cristo"]},{"name":"madonna","aliases":["Maria"]}],"outputs":1,"x":130,"y":1820,"wires":[["7b2e1fc3.06f6f"]]},{"id":"486720f5.11fb1","type":"function","z":"7eff514d.2b6bf","name":"","func":"var { payload } = msg;\nvar chat = msg.chat();\n\nconsole.log(chat.get(('firstName')));\nreturn {\n ...msg,\n payload: {\n gods: payload.variables.gods,\n userN: chat.get('firstName'),\n userS: chat.get('lastName'),\n chatId: chat.get('chatId')\n }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1560,"wires":[["f8bc33f0.e121d","27d9cee3.2bb402"]]},{"id":"27d9cee3.2bb402","type":"change","z":"7eff514d.2b6bf","name":"","rules":[{"t":"delete","p":"variables.gods","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":1600,"wires":[["4af06736.547358"]]},{"id":"8953e7ce.512828","type":"function","z":"7eff514d.2b6bf","name":"","func":"var name = msg.payload.chatId.toString();\nlet sortBless = flow.get(name);\nmsg.payload = Object.entries(sortBless).sort(function(a, b) { \nreturn b[1] - a[1]}); ///msg.payload[0][0] will give name of highest non-blessed\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1680,"wires":[["480416b3.909ee8"]]},{"id":"983ba86d.cb7098","type":"chatbot-message","z":"7eff514d.2b6bf","name":"","message":[{"message":""}],"language":"none","x":1390,"y":1680,"wires":[["3aada9d6.eecfd6"]]},{"id":"480416b3.909ee8","type":"template","z":"7eff514d.2b6bf","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Queste persone si devono pentire: \n{{#payload}}\n- {{.}} ,\n{{/payload}}","output":"str","x":1000,"y":1680,"wires":[["983ba86d.cb7098"]]},{"id":"4af06736.547358","type":"function","z":"7eff514d.2b6bf","name":"","func":"var name = msg.payload.chatId+\".\" + msg.payload.userN + \"_\" + msg.payload.userS;\nlet notBless = flow.get(name) || 0;\nflow.set(name, notBless+1);\nlet sortBless = flow.get(\"notBless\");\nmsg.payload = Object.entries(sortBless).sort(function(a, b) { \nreturn b[1] - a[1]}); ///msg.payload[0][0] will give name of highest non-blessed\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1600,"wires":[["cdf8a79e.4bb638"]]},{"id":"cdf8a79e.4bb638","type":"change","z":"7eff514d.2b6bf","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":1600,"wires":[[]]},{"id":"ac92f657.885798","type":"debug","z":"7eff514d.2b6bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":1780,"wires":[]},{"id":"e4af6f5b.d71e3","type":"unit-converter","z":"7eff514d.2b6bf","category":"illuminance","inputUnit":"lx","outputUnit":"ft-cd","inputField":"payload","outputField":"conversione","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":"1","name":"","x":400,"y":1280,"wires":[[]]},{"id":"a8bcb6ff.b66578","type":"unit-converter","z":"7eff514d.2b6bf","category":"illuminance","inputUnit":"lx","outputUnit":"ft-cd","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":420,"y":780,"wires":[[]]},{"id":"e71a5cd3.6c8a8","type":"e-mail","z":"7eff514d.2b6bf","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"giovanni.cafasso01@gmail.com","dname":"mail","x":1010,"y":1200,"wires":[]},{"id":"51a94ac1.a12314","type":"chatbot-telegram-node","botname":"Dev","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"ac79a5fc.6f5af8","type":"chatbot-telegram-node","botname":"Murta","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"c501b94a.c981d8","type":"chatbot-telegram-node","botname":"Murta","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"}]