function_templete.json
[{"id":"2b7dc2d0.7a3a2e","type":"tab","label":"Compito In Classe!","disabled":true,"info":""},{"id":"ed9ac91a.87e928","type":"inject","z":"2b7dc2d0.7a3a2e","name":"test1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"}","payloadType":"json","x":110,"y":200,"wires":[["b8434cfd.90057"]]},{"id":"b8434cfd.90057","type":"function","z":"2b7dc2d0.7a3a2e","name":"function 1","func":"msg.payload = msg.payload.name;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":200,"wires":[["79962a59.2574c4"]]},{"id":"79962a59.2574c4","type":"debug","z":"2b7dc2d0.7a3a2e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":200,"wires":[]},{"id":"e46fb64b.90f078","type":"inject","z":"2b7dc2d0.7a3a2e","name":"test2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"}","payloadType":"json","x":110,"y":300,"wires":[["e2cfe4fe.899c68"]]},{"id":"e2cfe4fe.899c68","type":"function","z":"2b7dc2d0.7a3a2e","name":"function 2","func":" var output = msg.payload.name + \" is \" + msg.payload.age + \" years old\";\n msg.payload = output;\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":300,"wires":[["edcdc11.ea3eb4"]]},{"id":"edcdc11.ea3eb4","type":"debug","z":"2b7dc2d0.7a3a2e","name":"","active":true,"console":"false","complete":"false","x":430,"y":300,"wires":[]},{"id":"3d7fd7a3.9bb2a8","type":"inject","z":"2b7dc2d0.7a3a2e","name":"test3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"[{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"},{\"name\":\"jack\",\"age\":35,\"email\":\"jack@acme.inc\"},{\"name\":\"jill\",\"age\":30,\"email\":\"jill@acme.inc\"}]","payloadType":"json","x":110,"y":400,"wires":[["a4bb272e.8baf58"]]},{"id":"a4bb272e.8baf58","type":"function","z":"2b7dc2d0.7a3a2e","name":"function 3","func":"output = {};\nfor (var i of msg.payload) {\n    output[i.name] = \"Age is \" + i.age + \" and mail address is \" + i.email;\n}\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":400,"wires":[["39906541.70219a"]]},{"id":"39906541.70219a","type":"debug","z":"2b7dc2d0.7a3a2e","name":"","active":true,"console":"false","complete":"false","x":430,"y":400,"wires":[]},{"id":"3e105147.38ab0e","type":"inject","z":"2b7dc2d0.7a3a2e","name":"test4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"[{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acmeA.inc\"},{\"name\":\"jack\",\"age\":35,\"email\":\"jack@acmeB.inc\"},{\"name\":\"jill\",\"age\":30,\"email\":\"jill@acmeC.inc\"}]","payloadType":"json","x":110,"y":500,"wires":[["85468b06.083308"]]},{"id":"85468b06.083308","type":"function","z":"2b7dc2d0.7a3a2e","name":"function 4","func":"output = \"\";\nfirst = true;\nfor (var i of msg.payload) {\n    if (!first) {\n        output += ', ';\n    } else {\n        first = false;\n    }\n    output += i.name + \" works for \" + i.email.split('@')[1];\n}\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":500,"wires":[["6d2a45ad.8c5a7c"]]},{"id":"6d2a45ad.8c5a7c","type":"debug","z":"2b7dc2d0.7a3a2e","name":"","active":true,"console":"false","complete":"false","x":430,"y":500,"wires":[]},{"id":"8c1a4592.c70408","type":"inject","z":"2b7dc2d0.7a3a2e","name":"solution4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"[{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acmeA.inc\"},{\"name\":\"jack\",\"age\":35,\"email\":\"jack@acmeB.inc\"},{\"name\":\"jill\",\"age\":30,\"email\":\"jill@acmeC.inc\"}]","payloadType":"json","x":720,"y":500,"wires":[["b059247a.0d0128"]]},{"id":"fdd5a6b3.ae6358","type":"inject","z":"2b7dc2d0.7a3a2e","name":"solution1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"}","payloadType":"json","x":720,"y":200,"wires":[["dace157a.4672d8"]]},{"id":"1d8602d9.762c3d","type":"debug","z":"2b7dc2d0.7a3a2e","name":"output1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":200,"wires":[]},{"id":"889880d2.0e10a","type":"inject","z":"2b7dc2d0.7a3a2e","name":"solution2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"}","payloadType":"json","x":720,"y":300,"wires":[["c2ccb6ad.dd1f58"]]},{"id":"98227c1a.e146f","type":"debug","z":"2b7dc2d0.7a3a2e","name":"output2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":300,"wires":[]},{"id":"8ffd773e.ff0998","type":"inject","z":"2b7dc2d0.7a3a2e","name":"solution3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"[{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"},{\"name\":\"jack\",\"age\":35,\"email\":\"jack@acme.inc\"},{\"name\":\"jill\",\"age\":30,\"email\":\"jill@acme.inc\"}]","payloadType":"json","x":720,"y":400,"wires":[["36f9cfe.011cc3"]]},{"id":"994da31d.8bfa4","type":"debug","z":"2b7dc2d0.7a3a2e","name":"output3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":400,"wires":[]},{"id":"6a61c21.26e0d3c","type":"debug","z":"2b7dc2d0.7a3a2e","name":"output4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":500,"wires":[]},{"id":"566a6193.acb85","type":"comment","z":"2b7dc2d0.7a3a2e","name":"Add solution for test 1 here","info":"","x":970,"y":160,"wires":[]},{"id":"a9983bf2.ff4428","type":"comment","z":"2b7dc2d0.7a3a2e","name":"Add solution for test 2 here","info":"","x":970,"y":260,"wires":[]},{"id":"76643113.b5c51","type":"comment","z":"2b7dc2d0.7a3a2e","name":"Add solution for test 3 here","info":"","x":970,"y":360,"wires":[]},{"id":"43d49939.0e23d8","type":"comment","z":"2b7dc2d0.7a3a2e","name":"Add solution for test 4 here","info":"","x":970,"y":460,"wires":[]},{"id":"e02b71ab.575b2","type":"comment","z":"2b7dc2d0.7a3a2e","name":"ADD YOUR SOLUTIONS HERE","info":"Implement your solutions to the test scenarios.  \n\nsolution 1 should be the solution to test 1, solution 2 for test 2, etc...  \n","x":750,"y":140,"wires":[]},{"id":"7c35ced3.f4594","type":"comment","z":"2b7dc2d0.7a3a2e","name":"Compito in Classe di IoT / Cloud! March the 2nd!","info":"# 1 JSONATA o Template Node?\n\nGuardate cosa esce da queste funzioni - che inizieremo a vedere la prossima volta - e generate le medesime uscite del debug node usando quello che volete tra template node o jsonata. \n\n# 2 Palette e Uso di Nosi esterni, Dashaboard. \n\nIstallate il nodo Unit Converter [1] e create una dashboard (che porti come nome il vostro cognome) ed in cui un numero in Lux venga tradotto in Foot-Candle (ft-cd). \n\nPer raggiungere un punteggio maggiore dovreste fare uscire sulla Dashboard: \"3 Lux corrispondono a 0.2 Candela\"\n\n[1] https://flows.nodered.org/node/node-red-contrib-unit-converter\n\n# 3 Raccolta Dati\n\nNella stessa Dashaboard, crea una landing page che registri nome, cognome, età, mail, di un utente, stampandola in un semplige debug node e *riproponendola all'utente in un altro gruppo della dashboard*. \n\n# 4 Rappresentazione Dati \n\nAnalizzate come sono esposti i dati nell'elenco Json nell'inject node \"Utenti\", quindi visualizzateli in una tabella scegliendo il modo più idoneo\n\nGraficizzate i dati di Lux e Temperatura iniettati ogni secondo dai due inject Node. \n\nPer raggiungere un punteggio maggiore dovreste visualizzare, oltre a Lux e Temperatura, anche l'unità di misura Candela. \n\n","x":220,"y":120,"wires":[]},{"id":"8cd9ec11.3629f","type":"inject","z":"2b7dc2d0.7a3a2e","name":"Utenti","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"id\":1,\"first_name\":\"Lura\",\"last_name\":\"Nellies\",\"performance\":1},{\"id\":2,\"first_name\":\"Oona\",\"last_name\":\"Haster\",\"performance\":4},{\"id\":3,\"first_name\":\"Tammy\",\"last_name\":\"Orkney\",\"performance\":3},{\"id\":4,\"first_name\":\"Polly\",\"last_name\":\"Alvarado\",\"performance\":3},{\"id\":5,\"first_name\":\"Isadora\",\"last_name\":\"Osmond\",\"performance\":1},{\"id\":6,\"first_name\":\"Barnaby\",\"last_name\":\"Bastiman\",\"performance\":2},{\"id\":7,\"first_name\":\"Everett\",\"last_name\":\"Woodthorpe\",\"performance\":1},{\"id\":8,\"first_name\":\"Waneta\",\"last_name\":\"Limming\",\"performance\":4},{\"id\":9,\"first_name\":\"Kerk\",\"last_name\":\"Shakesbye\",\"performance\":3},{\"id\":10,\"first_name\":\"Huntington\",\"last_name\":\"Harbidge\",\"performance\":4},{\"id\":11,\"first_name\":\"Thomas\",\"last_name\":\"Ling\",\"performance\":5},{\"id\":12,\"first_name\":\"Bernadine\",\"last_name\":\"Pitbladdo\",\"performance\":5},{\"id\":13,\"first_name\":\"Mercy\",\"last_name\":\"Childes\",\"performance\":3},{\"id\":14,\"first_name\":\"Kimberli\",\"last_name\":\"Stuckes\",\"performance\":2},{\"id\":15,\"first_name\":\"Jasun\",\"last_name\":\"Ulrik\",\"performance\":2},{\"id\":16,\"first_name\":\"Lucretia\",\"last_name\":\"Banner\",\"performance\":2},{\"id\":17,\"first_name\":\"Hewitt\",\"last_name\":\"Bernocchi\",\"performance\":4},{\"id\":18,\"first_name\":\"Essa\",\"last_name\":\"Marval\",\"performance\":2},{\"id\":19,\"first_name\":\"Jakie\",\"last_name\":\"Copping\",\"performance\":4},{\"id\":20,\"first_name\":\"Chauncey\",\"last_name\":\"Seaward\",\"performance\":5}]","payloadType":"json","x":130,"y":720,"wires":[[]]},{"id":"39a90d03.076402","type":"comment","z":"2b7dc2d0.7a3a2e","name":"Rappresentazione Dati","info":"","x":160,"y":660,"wires":[]},{"id":"db6333c5.67368","type":"inject","z":"2b7dc2d0.7a3a2e","name":"Lux","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"lux","payload":"$random()*10","payloadType":"jsonata","x":130,"y":800,"wires":[["53d4bb47.1e5fd4"]]},{"id":"d9c4f947.dca478","type":"inject","z":"2b7dc2d0.7a3a2e","name":"Temp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"temp","payload":"$random()*100","payloadType":"jsonata","x":130,"y":860,"wires":[["53d4bb47.1e5fd4"]]},{"id":"dace157a.4672d8","type":"change","z":"2b7dc2d0.7a3a2e","name":"change","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":200,"wires":[["1d8602d9.762c3d"]]},{"id":"36f9cfe.011cc3","type":"template","z":"2b7dc2d0.7a3a2e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n{{name}}: Age is {{age}} and mail address is {{email}}\n\n{{/payload}}","output":"yaml","x":980,"y":400,"wires":[["994da31d.8bfa4"]]},{"id":"53d4bb47.1e5fd4","type":"ui_chart","z":"2b7dc2d0.7a3a2e","name":"","group":"671c4d4.0db3fb4","order":1,"width":0,"height":0,"label":"Bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#fb120e","#8bc97e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":760,"y":860,"wires":[[]]},{"id":"cb74d86c.808098","type":"ui_form","z":"2b7dc2d0.7a3a2e","name":"","label":"Registrazione","group":"671c4d4.0db3fb4","order":6,"width":0,"height":0,"options":[{"label":"Nome","value":"Nome","type":"text","required":true,"rows":null},{"label":"Cognome","value":"Cognome","type":"text","required":true,"rows":null},{"label":"Età","value":"Eta","type":"number","required":true,"rows":null},{"label":"Mail","value":"Mail","type":"email","required":true,"rows":null},{"label":"Password","value":"Password","type":"password","required":true,"rows":null}],"formValue":{"Nome":"","Cognome":"","Eta":"","Mail":"","Password":""},"payload":"","submit":"Registrati","cancel":"Cancella","topic":"","topicType":"str","splitLayout":false,"x":140,"y":1020,"wires":[["b1414d15.8d7d1","2618e4bd.1d2b7c"]]},{"id":"b1414d15.8d7d1","type":"debug","z":"2b7dc2d0.7a3a2e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":1020,"wires":[]},{"id":"2618e4bd.1d2b7c","type":"ui_text","z":"2b7dc2d0.7a3a2e","group":"922aee21.e04da","order":0,"width":"13","height":"1","name":"","label":"Dati registrazine","format":"{{payload.Nome}}  {{payload.Cognome}}, anni:  {{payload.Eta}}, mail:  {{payload.Mail}}, password:  {{payload.Password}}  ","layout":"row-spread","x":360,"y":1080,"wires":[]},{"id":"4597b789.da6778","type":"ui_text_input","z":"2b7dc2d0.7a3a2e","name":"","label":"Inserisci numero Lux","tooltip":"","group":"671c4d4.0db3fb4","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":160,"y":1280,"wires":[[]]},{"id":"9569bef8.b9608","type":"ui_text","z":"2b7dc2d0.7a3a2e","group":"671c4d4.0db3fb4","order":8,"width":"11","height":"1","name":"","label":"Conversione ","format":"{{msg.payload}} Lux corrispondono a {{msg.conversione}} Candela","layout":"col-center","x":630,"y":1280,"wires":[]},{"id":"c2ccb6ad.dd1f58","type":"change","z":"2b7dc2d0.7a3a2e","name":"change","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name & ' is '  &  payload.age & ' years old'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":300,"wires":[["98227c1a.e146f"]]},{"id":"b059247a.0d0128","type":"template","z":"2b7dc2d0.7a3a2e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n{{name}} works for {{email}}, \n{{/payload}}","output":"str","x":980,"y":500,"wires":[["6a61c21.26e0d3c"]]},{"id":"eb965c7e.781b6","type":"change","z":"2b7dc2d0.7a3a2e","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"candela","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":780,"wires":[["53d4bb47.1e5fd4"]]},{"id":"afeddbea.623638","type":"comment","z":"2b7dc2d0.7a3a2e","name":"Commento ","info":"Il grafico mostra Candela come conversione di Lux","x":640,"y":740,"wires":[]},{"id":"e888777d.b7b448","type":"comment","z":"2b7dc2d0.7a3a2e","name":"Raccolta Dati","info":"","x":130,"y":960,"wires":[]},{"id":"dacf6f1d.e7938","type":"comment","z":"2b7dc2d0.7a3a2e","name":"Palette e Uso di Nodi esterni, Dashaboard","info":"","x":230,"y":1220,"wires":[]},{"id":"671c4d4.0db3fb4","type":"ui_group","name":"Group 1","tab":"c2a3638b.47aa5","order":1,"disp":true,"width":"12","collapse":false},{"id":"922aee21.e04da","type":"ui_group","name":"Group 2","tab":"c2a3638b.47aa5","order":2,"disp":true,"width":"13","collapse":false},{"id":"c2a3638b.47aa5","type":"ui_tab","name":"Cafasso","icon":"dashboard","order":7,"disabled":false,"hidden":false}]