get_started.json
[{"id":"ae5b810e.fa92f","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"bd413f4e.7c007","type":"inject","z":"ae5b810e.fa92f","name":"Hello World!","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"number","v":"156","vt":"num"},{"p":"pippo","v":"true","vt":"bool"},{"p":"pluto","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Hello","payload":"World!","payloadType":"str","x":150,"y":60,"wires":[["96f47024.3d76c","1ea04848.31a4f8","629c65f7.18040c","9bc34f6b.a2f64"]]},{"id":"96f47024.3d76c","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":20,"wires":[]},{"id":"1ea04848.31a4f8","type":"debug","z":"ae5b810e.fa92f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"number","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":60,"wires":[]},{"id":"629c65f7.18040c","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":100,"wires":[]},{"id":"9bc34f6b.a2f64","type":"change","z":"ae5b810e.fa92f","name":"Pippo passa a FALSE","rules":[{"t":"move","p":"pippo","pt":"msg","to":"pluto","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":220,"wires":[["55f97cf4.26ee94","5c751bab.450044"]]},{"id":"51270f01.6fb7e","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":240,"wires":[]},{"id":"55f97cf4.26ee94","type":"switch","z":"ae5b810e.fa92f","name":"","property":"pluto","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":220,"wires":[["f34e8255.8aaef"],["51270f01.6fb7e"]]},{"id":"f34e8255.8aaef","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":180,"wires":[]},{"id":"5c751bab.450044","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"pippo","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":140,"wires":[]},{"id":"6a3e71f8.fd0d1","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":380,"wires":[["a1850302.f8efd"]]},{"id":"a1850302.f8efd","type":"http request","z":"ae5b810e.fa92f","name":"BUS API","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://gpa.madbob.org/query.php?stop=151","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":420,"wires":[["f2ee8100.d7ff3","7ca4d64.04a5828"]]},{"id":"f2ee8100.d7ff3","type":"debug","z":"ae5b810e.fa92f","name":"Prima Fermata","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":420,"wires":[]},{"id":"7ca4d64.04a5828","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":360,"wires":[]},{"id":"368dbf6c.33ae4","type":"complete","z":"ae5b810e.fa92f","name":"","scope":["a1850302.f8efd"],"uncaught":false,"x":170,"y":480,"wires":[[]]},{"id":"c4f8c47c.e2a698","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":520,"wires":[]},{"id":"486cc290.ea5d6c","type":"catch","z":"ae5b810e.fa92f","name":"","scope":null,"uncaught":false,"x":160,"y":520,"wires":[[]]},{"id":"293e80cf.6cd21","type":"status","z":"ae5b810e.fa92f","name":"","scope":null,"x":160,"y":560,"wires":[[]]},{"id":"10954221.e4a35e","type":"comment","z":"ae5b810e.fa92f","name":"Chiamata alle API di GTT","info":"# Gestione delle API di GTT\n\nper maggiori informazioni sulla documentazione si prega di visitare il [sito di riferimento](https://gpa.madbob.org/)\n\nhttps://gpa.madbob.org/\n\n","x":150,"y":320,"wires":[]},{"id":"f995c6ca.f19718","type":"comment","z":"ae5b810e.fa92f","name":"Compito","info":"Se la temperatura[1] é inferiore a 285, fai una chiamata a [questa api](https://openweathermap.org/api/hourly-forecast) per sapere le temperature delle prossime ore. \n\nPuoi passare la chiamata in toto nel nodo http [2] o usare un nodo change per esplicitarla esternamente. \n\n[1] payload.main.temp\n[2] https://openweathermap.org/api/one-call-api\n    https://api.openweathermap.org/data/2.5/onecall?lat={lat}&lon={lon}&exclude={part}&appid={API key}\npro.openweathermap.org/data/2.5/forecast/hourly?q={city name}&appid={API key}\n\nunits\toptional\tUnits of measurement. standard, metric and imperial units are available. If you do not use the units parameter, standard units will be applied by default. Learn more","x":100,"y":620,"wires":[]},{"id":"4815b3a2.67b02c","type":"http request","z":"ae5b810e.fa92f","name":"Openweathermap API","method":"GET","ret":"obj","paytoqs":"ignore","url":"api.openweathermap.org/data/2.5/weather?q={{topic}}&appid={{token}}&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":220,"y":740,"wires":[["2abc587d.d23198","d5793447.95f128","8bd2971f.1f04b8","d1209792.54e258"]]},{"id":"cc9f92ad.4c585","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"token","v":"deca718bd8aa186b00b408f2e793ae39","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Cuneo","payload":"","payloadType":"date","x":120,"y":680,"wires":[["4815b3a2.67b02c"]]},{"id":"2abc587d.d23198","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"' in ' & payload.name & ' temperature is ' & payload.main.temp ","targetType":"jsonata","statusVal":"","statusType":"auto","x":420,"y":640,"wires":[]},{"id":"d5793447.95f128","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.temp","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":740,"wires":[]},{"id":"d386e4da.275b68","type":"http request","z":"ae5b810e.fa92f","name":"Openweathermap API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/onecall?lat={{payload.coord.lat}}&lon={{payload.coord.lon}}&exclude={part}&appid={{token}}","tls":"","persist":false,"proxy":"","authType":"","x":820,"y":760,"wires":[["21de94af.e3766c"]]},{"id":"8bd2971f.1f04b8","type":"switch","z":"ae5b810e.fa92f","name":"é inferiore a 5 gradi?","property":"payload.main.temp","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"num"},{"t":"gte","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":780,"wires":[["d386e4da.275b68"],[]]},{"id":"21de94af.e3766c","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":760,"wires":[]},{"id":"d1209792.54e258","type":"change","z":"ae5b810e.fa92f","name":"settiamo variabili di flow e globali","rules":[{"t":"set","p":"temp","pt":"flow","to":"payload.main.temp","tot":"msg"},{"t":"set","p":"temp","pt":"global","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":840,"wires":[["a4485db5.e4332"]]},{"id":"a4485db5.e4332","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":840,"wires":[]},{"id":"2cc23284.3593fe","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temp","payloadType":"flow","x":380,"y":900,"wires":[["1ecab270.f7a34e"]]},{"id":"1ecab270.f7a34e","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":900,"wires":[]},{"id":"180d56d3.74a7e9","type":"ui_text","z":"ae5b810e.fa92f","group":"c085d389.66275","order":0,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":1080,"wires":[]},{"id":"28306b8d.5c75c4","type":"ui_gauge","z":"ae5b810e.fa92f","name":"","group":"c085d389.66275","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":1200,"wires":[]},{"id":"a246b325.54e62","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Messaggio","payload":"Ciao!","payloadType":"str","x":140,"y":1040,"wires":[["180d56d3.74a7e9"]]},{"id":"a9c4e047.bb371","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$random()*10","payloadType":"jsonata","x":170,"y":1160,"wires":[["28306b8d.5c75c4"]]},{"id":"9bf14321.4a3a1","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":170,"y":1200,"wires":[["28306b8d.5c75c4"]]},{"id":"f341dbdd.32a7b8","type":"ui_text_input","z":"ae5b810e.fa92f","name":"","label":"","tooltip":"","group":"f446d13f.182bd","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":160,"y":1080,"wires":[["180d56d3.74a7e9"]]},{"id":"15f66188.a7d53e","type":"ui_button","z":"ae5b810e.fa92f","name":"","group":"f446d13f.182bd","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"send","payload":"{\"button\":\"pressed\"}","payloadType":"json","topic":"","topicType":"str","x":170,"y":1120,"wires":[["ca654f3b.13efe","ae81a042.e1421"]]},{"id":"ca654f3b.13efe","type":"ui_text","z":"ae5b810e.fa92f","group":"c085d389.66275","order":0,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":1120,"wires":[]},{"id":"ae81a042.e1421","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":1160,"wires":[]},{"id":"c445f328.12ce1","type":"comment","z":"ae5b810e.fa92f","name":"Icone","info":"se andate qui potete prendere le icone che più vi piacciono. \n\nhttps://klarsys.github.io/angular-material-icons/","x":150,"y":1000,"wires":[]},{"id":"6c66121d.902f7c","type":"ui_dropdown","z":"ae5b810e.fa92f","name":"","label":"","tooltip":"","place":"Seleziona una città","group":"f446d13f.182bd","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Torino","type":"str"},{"label":"","value":"Milano","type":"str"},{"label":"","value":"Cuneo","type":"str"}],"payload":"","topic":"","topicType":"str","x":80,"y":1340,"wires":[["5226b9b3.2c3d48"]]},{"id":"d08a9f82.f0903","type":"ui_text","z":"ae5b810e.fa92f","group":"c085d389.66275","order":0,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{payload}}","layout":"row-spread","x":470,"y":1480,"wires":[]},{"id":"f7883096.d23e6","type":"http request","z":"ae5b810e.fa92f","name":"Openweathermap API","method":"GET","ret":"obj","paytoqs":"ignore","url":"api.openweathermap.org/data/2.5/weather?q={{topic}}&appid={{token}}&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":1280,"wires":[["d07025fd.be7b38","60535764.536898"]]},{"id":"7c91feb7.a9f23","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"token","v":"deca718bd8aa186b00b408f2e793ae39","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Cuneo","payload":"","payloadType":"date","x":160,"y":1280,"wires":[["f7883096.d23e6"]]},{"id":"5226b9b3.2c3d48","type":"change","z":"ae5b810e.fa92f","name":"","rules":[{"t":"set","p":"token","pt":"msg","to":"deca718bd8aa186b00b408f2e793ae39","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1340,"wires":[["f7883096.d23e6"]]},{"id":"d07025fd.be7b38","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1300,"wires":[]},{"id":"60535764.536898","type":"change","z":"ae5b810e.fa92f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"' in ' & payload.name & ' temperature is ' & payload.main.temp ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":1440,"wires":[["d08a9f82.f0903","e1ab5e0e.64b64"]]},{"id":"b52d971c.b1c868","type":"ui_slider","z":"ae5b810e.fa92f","name":"","label":"slider","tooltip":"","group":"f446d13f.182bd","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","topicType":"str","min":0,"max":10,"step":1,"x":90,"y":1520,"wires":[["d08a9f82.f0903"]]},{"id":"295e160b.913e8a","type":"ui_colour_picker","z":"ae5b810e.fa92f","name":"","label":"Colore","group":"f446d13f.182bd","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":5,"width":0,"height":0,"passthru":true,"topic":"","topicType":"str","x":90,"y":1620,"wires":[["d08a9f82.f0903"]]},{"id":"68c2f1e9.f9baa","type":"ui_date_picker","z":"ae5b810e.fa92f","name":"","label":"date","group":"f446d13f.182bd","order":4,"width":0,"height":0,"passthru":true,"topic":"","topicType":"str","x":90,"y":1580,"wires":[["d08a9f82.f0903"]]},{"id":"2471b3d5.129d1c","type":"ui_form","z":"ae5b810e.fa92f","name":"","label":"Iscrizione ITS","group":"f446d13f.182bd","order":6,"width":0,"height":0,"options":[{"label":"Nome","value":"Nome","type":"text","required":true,"rows":null},{"label":"Cognome","value":"Cognome","type":"text","required":true,"rows":null},{"label":"Mail","value":"Mail","type":"email","required":true,"rows":null},{"label":"Password","value":"Password","type":"password","required":true,"rows":null},{"label":"Newsletter","value":"Newsletter","type":"checkbox","required":false,"rows":null}],"formValue":{"Nome":"","Cognome":"","Mail":"","Password":"","Newsletter":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"x":120,"y":1699,"wires":[["a54257b9.5ca4f8"]]},{"id":"a54257b9.5ca4f8","type":"ui_text","z":"ae5b810e.fa92f","group":"c085d389.66275","order":4,"width":0,"height":0,"name":"","label":"text","format":"{{payload}}","layout":"row-spread","x":290,"y":1700,"wires":[]},{"id":"3f911c5c.ad1eb4","type":"ui_chart","z":"ae5b810e.fa92f","name":"","group":"c085d389.66275","order":4,"width":"0","height":"0","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"25","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#a0c41f","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":470,"y":1800,"wires":[[]]},{"id":"abd9c3ba.cb2ee","type":"ui_slider","z":"ae5b810e.fa92f","name":"","label":"slider","tooltip":"Number","group":"c085d389.66275","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Num","min":0,"max":10,"step":1,"x":270,"y":1760,"wires":[["3f911c5c.ad1eb4"]]},{"id":"cb5e7b23.24caa8","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$random()*10","payloadType":"jsonata","x":270,"y":1820,"wires":[["3f911c5c.ad1eb4"]]},{"id":"ac6ed14e.19362","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$random()*10","payloadType":"jsonata","x":110,"y":1900,"wires":[[]]},{"id":"a7f78428.401808","type":"ui_toast","z":"ae5b810e.fa92f","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"topic":"Temperatura alta","name":"","x":490,"y":1900,"wires":[]},{"id":"38243e04.7aa5b2","type":"switch","z":"ae5b810e.fa92f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"8","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1900,"wires":[["a7f78428.401808"]]},{"id":"3f1c7114.13227e","type":"ui_audio","z":"ae5b810e.fa92f","name":"","group":"f446d13f.182bd","voice":"Microsoft Elsa - Italian (Italy)","always":true,"x":360,"y":2020,"wires":[]},{"id":"3c6f4cd2.1a0934","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Ciao mario","payloadType":"str","x":110,"y":2020,"wires":[["3f1c7114.13227e"]]},{"id":"48aee1b5.462c2","type":"ui_button","z":"ae5b810e.fa92f","name":"","group":"f446d13f.182bd","order":1,"width":0,"height":0,"passthru":false,"label":"button voice","tooltip":"","color":"","bgcolor":"","icon":"info","payload":"Prova bottone","payloadType":"str","topic":"","topicType":"str","x":110,"y":2080,"wires":[["3f1c7114.13227e"]]},{"id":"e1ab5e0e.64b64","type":"ui_audio","z":"ae5b810e.fa92f","name":"","group":"c085d389.66275","voice":"Microsoft Zira Desktop - English (United States)","always":true,"x":500,"y":1400,"wires":[]},{"id":"da19d073.f8e05","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2280,"wires":[["60eba0b8.d15b","2a1d3c7d.543fd4"]]},{"id":"60eba0b8.d15b","type":"http request","z":"ae5b810e.fa92f","name":"BUS API","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://gpa.madbob.org/query.php?stop={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":2300,"wires":[["1f4aad4c.51b713","e1accd3c.3a516","72f90f7d.6a75f"]]},{"id":"1f4aad4c.51b713","type":"debug","z":"ae5b810e.fa92f","name":"Prima Fermata","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":2280,"wires":[]},{"id":"e1accd3c.3a516","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":2220,"wires":[]},{"id":"ce3db661.e914f8","type":"comment","z":"ae5b810e.fa92f","name":"Chiamata alle API di GTT (con Dashboard)","info":"# Gestione delle API di GTT\n\nper maggiori informazioni sulla documentazione si prega di visitare il [sito di riferimento](https://gpa.madbob.org/)\n\nhttps://gpa.madbob.org/\n\nAndare ad estrarre con Jsonata i primi cinque passaggi (almeno il primo se vi bloccate)","x":200,"y":2200,"wires":[]},{"id":"7df6e696.3e0498","type":"ui_dropdown","z":"ae5b810e.fa92f","name":"","label":"","tooltip":"","place":"Select option","group":"84147604.b29078","order":0,"width":"7","height":"2","passthru":true,"multiple":false,"options":[{"label":"Bramante","value":"522","type":"str"},{"label":"Carducci","value":"740","type":"str"},{"label":"Tepice","value":"50","type":"str"}],"payload":"","topic":"","topicType":"str","x":120,"y":2320,"wires":[["60eba0b8.d15b","57210c94.729bf4"]]},{"id":"57210c94.729bf4","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":2340,"wires":[]},{"id":"2a1d3c7d.543fd4","type":"http request","z":"ae5b810e.fa92f","name":"BUS API","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://gpa.madbob.org/query.php?stop=740","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":2260,"wires":[["72f90f7d.6a75f"]]},{"id":"5f8ada84.b84794","type":"ui_text","z":"ae5b810e.fa92f","group":"bfd79b35.1f1178","order":0,"width":"3","height":"3","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":2340,"wires":[]},{"id":"72f90f7d.6a75f","type":"change","z":"ae5b810e.fa92f","name":"Estrazione con Jsonata","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0] &\tpayload[1] &\tpayload[2] &\tpayload[3] &\tpayload[4] ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":2360,"wires":[["5f8ada84.b84794","99a30ed2.dad82"]]},{"id":"99a30ed2.dad82","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":2400,"wires":[]},{"id":"bfe9dc.22670628","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":2540,"wires":[["f1fab828.51de38"]]},{"id":"77eb2956.fd2cf8","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":2440,"wires":[]},{"id":"92300fcb.37b9d","type":"comment","z":"ae5b810e.fa92f","name":"Creare tabelle in node-red","info":"# Creazione tabelle in node-red\n\n# 1 usiamo Tablify\n \n https://flows.nodered.org/node/node-red-contrib-tableify\n\n# 2\n\nUso tel template node per la creazione di unfor loop che itera su tutti gli elementi del {{payload}} aprendo e chiudendo una chiamata\n\n# gestione API\nper maggiori informazioni sulla documentazione si prega di visitare il [sito di riferimento](https://gpa.madbob.org/)\n\nhttps://gpa.madbob.org/\n\nAndare ad estrarre con Jsonata i primi cinque passaggi (almeno il primo se vi bloccate)","x":110,"y":2480,"wires":[]},{"id":"f1fab828.51de38","type":"http request","z":"ae5b810e.fa92f","name":"BUS API","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://gpa.madbob.org/query.php?stop=740","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":2540,"wires":[["77eb2956.fd2cf8","cc85c75e.d1fcf8","850280b0.9b5ed"]]},{"id":"cc85c75e.d1fcf8","type":"tableify","z":"ae5b810e.fa92f","name":"","before":"I Passaggi del bus","after":"","tableStyle":"","theadStyle":"","tbodyStyle":"","trStyle":"","tdStyle":"","x":480,"y":2500,"wires":[["70520a9a.ea84b4"]]},{"id":"70520a9a.ea84b4","type":"debug","z":"ae5b810e.fa92f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":2500,"wires":[]},{"id":"ad40d423.814e48","type":"ui_text","z":"ae5b810e.fa92f","group":"bfd79b35.1f1178","order":0,"width":0,"height":0,"name":"","label":"Passaggi","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":2540,"wires":[]},{"id":"850280b0.9b5ed","type":"template","z":"ae5b810e.fa92f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n</br>Linea  {{line}} in arrivo alle {{hour}}\n{{/payload}}","output":"str","x":480,"y":2540,"wires":[["9a824365.e585a","ad40d423.814e48"]]},{"id":"9a824365.e585a","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":2580,"wires":[]},{"id":"2274d978.d52006","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"Name\":\"Kazuhito Yokoi\",\"Age\":\"35\",\"Favourite Color\":\"red\",\"Date Of Birth\":\"12/09/1983\"},{\"Name\":\"Oli Bob\",\"Age\":\"12\",\"Favourite Color\":\"red\",\"Date Of Birth\":\"12/08/2017\"}]","payloadType":"json","x":130,"y":2700,"wires":[[]]},{"id":"cd39bbb8.5805f8","type":"comment","z":"ae5b810e.fa92f","name":"Normal table","info":"","x":130,"y":2660,"wires":[]},{"id":"b7dff285.69049","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"Name\":\"<b>Yokoi</b>\",\"Age\":\"30\",\"Color\":\"lime\",\"Prog\":70,\"Star\":\"3\"},{\"Name\":\"<i>DCJ</i>\",\"Age\":\"50\",\"Color\":\"dodgerblue\",\"Prog\":\"45\",\"Star\":2,\"Pass\":false,\"web\":\"\"},{\"Name\":\"Nick\",\"Age\":\"40\",\"Color\":\"darkred\",\"Prog\":95,\"Star\":\"5\",\"Pass\":true,\"web\":\"http://nodered.org\"},{\"Name\":\"Oli\"}]","payloadType":"json","x":130,"y":2780,"wires":[[]]},{"id":"cb53cb76.5fd0d8","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"Name\":\"<b>Yokoi</b>\",\"Age\":\"30\",\"Color\":\"lime\",\"Prog\":20,\"Star\":\"1\"},{\"Name\":\"<i>DCJ</i>\",\"Age\":\"50\",\"Color\":\"dodgerblue\",\"Prog\":\"80\",\"Star\":4,\"Pass\":true,\"web\":\"\"},{\"Name\":\"Nick\",\"Age\":\"40\",\"Color\":\"red\",\"Prog\":90,\"Star\":\"5\",\"Pass\":true,\"web\":\"http://nodered.org\"},{\"Name\":\"Oli\"}]","payloadType":"json","x":130,"y":2820,"wires":[[]]},{"id":"16664cef.5b26b3","type":"function","z":"ae5b810e.fa92f","name":"table paramter","func":"msg.ui_control = {tabulator:{}};\n\n//workaround that buttos can`t deliver empty strings\nif (msg.payload.hasOwnProperty('payload')) {\n    msg.payload=msg.payload.payload;\n}\n\nmsg.ui_control.tabulator[msg.topic]=msg.payload;\ndelete msg.topic;\nmsg.payload=null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":542,"y":3189,"wires":[["b8d75d24.6cbed"]]},{"id":"b8d75d24.6cbed","type":"debug","z":"ae5b810e.fa92f","name":"table input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":3189,"wires":[]},{"id":"1c377ea0.5801e1","type":"debug","z":"ae5b810e.fa92f","name":"table output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":923,"y":2900,"wires":[]},{"id":"b15c31a9.af37c","type":"ui_switch","z":"ae5b810e.fa92f","name":"selectable","label":"selectable","tooltip":"","group":"ff9fdb9a.7da098","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"selectable","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":182,"y":2985,"wires":[["16664cef.5b26b3"]]},{"id":"75207e8d.c54d4","type":"ui_switch","z":"ae5b810e.fa92f","name":"movableColumns","label":"movableColumns","tooltip":"","group":"ff9fdb9a.7da098","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"movableColumns","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":212,"y":3036,"wires":[["16664cef.5b26b3"]]},{"id":"c585e7a1.dfc648","type":"ui_button","z":"ae5b810e.fa92f","name":"","group":"ff9fdb9a.7da098","order":9,"width":"4","height":"1","passthru":false,"label":"Format Numbers > 100","tooltip":"using a rowFormatter callback function","color":"","bgcolor":"","icon":"","payload":"function(row){         if(row.getData().numberValue>100){             row.getElement().style.backgroundColor = \"#A6A6DF\";         }     },","payloadType":"str","topic":"rowFormatter","x":232,"y":3172,"wires":[["16664cef.5b26b3"]]},{"id":"f178c6fe.710ef8","type":"ui_button","z":"ae5b810e.fa92f","name":"","group":"ff9fdb9a.7da098","order":5,"width":0,"height":0,"passthru":false,"label":"Fill demo data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[{\"textValue\":\"Line #1\",\"numberValue\":123.12},{\"textValue\":\"Line #2\",\"numberValue\":100},{\"textValue\":\"Line #3\",\"numberValue\":50}]","payloadType":"json","topic":"rowFormatter","topicType":"str","x":202,"y":2900,"wires":[[]]},{"id":"2403f929.df4006","type":"ui_button","z":"ae5b810e.fa92f","name":"","group":"ff9fdb9a.7da098","order":11,"width":"4","height":"1","passthru":false,"label":"inject Tooltips callback","tooltip":"cell.getColumn().getField() + \" - \" + cell.getValue();","color":"","bgcolor":"","icon":"","payload":"function(cell){return  cell.getColumn().getField() + \" - \" + cell.getValue(); },","payloadType":"str","topic":"tooltips","x":222,"y":3274,"wires":[["16664cef.5b26b3"]]},{"id":"f6c68c45.58003","type":"ui_button","z":"ae5b810e.fa92f","name":"","group":"ff9fdb9a.7da098","order":12,"width":"4","height":"1","passthru":false,"label":"clear Tooltips callback","tooltip":"empty string is not possible! so use a single space","color":"","bgcolor":"","icon":"","payload":"{\"payload\":\"\"}","payloadType":"json","topic":"tooltips","x":222,"y":3308,"wires":[["16664cef.5b26b3"]]},{"id":"d2b29dda.60a5a","type":"ui_button","z":"ae5b810e.fa92f","name":"","group":"ff9fdb9a.7da098","order":13,"width":"4","height":"1","passthru":false,"label":"reformat Number column","tooltip":"inject additional paramters to numberValue column","color":"","bgcolor":"","icon":"","payload":"[{\"field\":\"numberValue\",\"formatterParams\":{\"min\":0,\"max\":200,\"legend\":\"function (value) {     if (value<100) return \\\"<span style='color:#FF0000;'>\\\"+value+\\\"</span>\\\";     else return \\\"<span style='color:#000000;'>\\\"+value+\\\"</span>\\\";  }\",\"legendAlign\":\"center\"},\"formatter\":\"progress\",\"topCalc\":\"function(values, data, calcParams){     var total = 0;     var calc = 0;     var count = 0;     data.forEach(value => {         total+=Number(value.numberValue);         count++;     });     if (count>0) calc=(total/count).toFixed(2);     return `${calc} (avg)`; }\",\"headerTooltip\":\"avarage\"}]","payloadType":"json","topic":"columns","x":232,"y":3376,"wires":[["16664cef.5b26b3"]]},{"id":"7b6490b3.cd9c7","type":"function","z":"ae5b810e.fa92f","name":"callback function(s)","func":"// how to use the editor to write callback functions\n// DO NOT wire this into your flow!\n// copy / paste \"function( ... }\" into the correct calback parameter\n// use the \"debugger\" statement to debug your callback inside your browser\n\nvar topCalc = function(values, data, calcParams){\n    var total = 0;\n    var calc = 0;\n    var count = 0;\n    data.forEach(value => {\n        total+=Number(value.numberValue);\n        count++;\n    });\n    if (count>0) calc=(total/count).toFixed(2);\n    return `${calc} (avg)`;\n}\n\nvar legend = function (value) {\n    if (value<100) return \"<span style='color:#FF0000;'>\"+value+\"</span>\";\n    else return \"<span style='color:#000000;'>\"+value+\"</span>\"; \n}","outputs":1,"noerr":0,"x":552,"y":3308,"wires":[[]]},{"id":"91506d4b.4956a","type":"comment","z":"ae5b810e.fa92f","name":"Intentionally not wired into the flow!","info":"use the editor to write callback functions\n\nDO NOT wire this into your flow!\n\ncopy / paste `function( ... }` into the correct calback parameter\nuse the `debugger` statement to debug your callback inside your browser\n","x":602,"y":3274,"wires":[]},{"id":"732afcea.f728f4","type":"ui_button","z":"ae5b810e.fa92f","name":"","group":"ff9fdb9a.7da098","order":14,"width":"4","height":"1","passthru":false,"label":"reset Number column","tooltip":"inject additional paramters to numberValue column","color":"","bgcolor":"","icon":"","payload":"[{\"field\":\"numberValue\",\"formatter\":\"plainText\",\"topCalc\":\"\",\"headerTooltip\":\"\"}]","payloadType":"json","topic":"columns","x":222,"y":3410,"wires":[["16664cef.5b26b3"]]},{"id":"89cca7ea.7fc998","type":"ui_button","z":"ae5b810e.fa92f","name":"","group":"ff9fdb9a.7da098","order":15,"width":"4","height":"1","passthru":false,"label":"add/show id column","tooltip":"add a new column","color":"","bgcolor":"","icon":"","payload":"[{\"field\":\"id\",\"title\":\"id\",\"visible\":true,\"formatter\":\"plainText\"}]","payloadType":"json","topic":"columns","x":222,"y":3478,"wires":[["16664cef.5b26b3"]]},{"id":"32a3c4ad.1b85fc","type":"ui_button","z":"ae5b810e.fa92f","name":"","group":"ff9fdb9a.7da098","order":16,"width":"4","height":"1","passthru":false,"label":"hide id column","tooltip":"hide id column (it is not possible to delete a existing column definition)","color":"","bgcolor":"","icon":"","payload":"[{\"field\":\"id\",\"title\":\"id\",\"visible\":false,\"formatter\":\"plainText\"}]","payloadType":"json","topic":"columns","x":202,"y":3512,"wires":[["16664cef.5b26b3"]]},{"id":"25247f4b.cc7ec","type":"inject","z":"ae5b810e.fa92f","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":50,"y":3060,"wires":[["75207e8d.c54d4","bd3fd382.a2aa9"]]},{"id":"18ed8d27.bf00a3","type":"ui_button","z":"ae5b810e.fa92f","name":"","group":"ff9fdb9a.7da098","order":10,"width":"4","height":"1","passthru":false,"label":"reset Numbers > 100","tooltip":"using a rowFormatter callback function","color":"","bgcolor":"","icon":"","payload":"{\"payload\":\"\"}","payloadType":"json","topic":"rowFormatter","x":222,"y":3206,"wires":[["16664cef.5b26b3"]]},{"id":"bd3fd382.a2aa9","type":"ui_switch","z":"ae5b810e.fa92f","name":"headerVisible","label":"headerVisible","tooltip":"","group":"ff9fdb9a.7da098","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"headerVisible","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":202,"y":3087,"wires":[["16664cef.5b26b3"]]},{"id":"22dc4f13.74492","type":"ui_dropdown","z":"ae5b810e.fa92f","name":"","label":"","tooltip":"","place":"Seleziona una città","group":"625872f.40b1e8c","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Torino","type":"str"},{"label":"","value":"Milano","type":"str"},{"label":"","value":"Cuneo","type":"str"}],"payload":"","topic":"","topicType":"str","x":80,"y":3680,"wires":[["26e5366a.0ac1da"]]},{"id":"21aa72b6.85cc9e","type":"http request","z":"ae5b810e.fa92f","name":"Openweathermap API","method":"GET","ret":"obj","paytoqs":"ignore","url":"api.openweathermap.org/data/2.5/weather?q={{topic}}&appid={{token}}&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":3620,"wires":[["d14f2a35.99bcc8"]]},{"id":"33d79e62.0f6d42","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"token","v":"deca718bd8aa186b00b408f2e793ae39","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Cuneo","payload":"","payloadType":"date","x":120,"y":3620,"wires":[["21aa72b6.85cc9e"]]},{"id":"26e5366a.0ac1da","type":"change","z":"ae5b810e.fa92f","name":"","rules":[{"t":"set","p":"token","pt":"msg","to":"deca718bd8aa186b00b408f2e793ae39","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":3680,"wires":[["21aa72b6.85cc9e"]]},{"id":"d14f2a35.99bcc8","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":3680,"wires":[]},{"id":"772c9614.8cad98","type":"http request","z":"ae5b810e.fa92f","name":"Openweathermap API","method":"GET","ret":"obj","paytoqs":"ignore","url":"api.openweathermap.org/data/2.5/weather?q={{topic}}&appid={{token}}&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":240,"y":3820,"wires":[["5b30ba1d.ed66b4","6a7f3899.b8ead8"]]},{"id":"81de451f.66b068","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"token","v":"deca718bd8aa186b00b408f2e793ae39","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Cuneo","payload":"","payloadType":"date","x":120,"y":3880,"wires":[["772c9614.8cad98"]]},{"id":"d44a9e45.9c218","type":"comment","z":"ae5b810e.fa92f","name":"Compito","info":"(editate liberamente il flow, per visualizzare in una tabella (sando tablify, ui_table o il semplice nodo Template) i dati che vengono inviati)","x":60,"y":3780,"wires":[]},{"id":"5b30ba1d.ed66b4","type":"change","z":"ae5b810e.fa92f","name":"settiamo variabili di flow e globali","rules":[{"t":"set","p":"temp","pt":"flow","to":"payload.main.temp","tot":"msg"},{"t":"set","p":"temp","pt":"global","to":"payload.main.temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":3860,"wires":[["7868b5ee.ad437c"]]},{"id":"7868b5ee.ad437c","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":3860,"wires":[]},{"id":"a02dc507.4b88b8","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"740","payloadType":"str","x":150,"y":4020,"wires":[["530bcc02.787344"]]},{"id":"1d54d18b.0645fe","type":"debug","z":"ae5b810e.fa92f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":3920,"wires":[]},{"id":"4eba8be8.38c914","type":"comment","z":"ae5b810e.fa92f","name":"Creare tabelle in node-red","info":"# Creazione tabelle in node-red\n\n# 1 usiamo Tablify\n \n https://flows.nodered.org/node/node-red-contrib-tableify\n\n# 2\n\nUso tel template node per la creazione di unfor loop che itera su tutti gli elementi del {{payload}} aprendo e chiudendo una chiamata\n\n# gestione API\nper maggiori informazioni sulla documentazione si prega di visitare il [sito di riferimento](https://gpa.madbob.org/)\n\nhttps://gpa.madbob.org/\n\nAndare ad estrarre con Jsonata i primi cinque passaggi (almeno il primo se vi bloccate)","x":190,"y":3960,"wires":[]},{"id":"530bcc02.787344","type":"http request","z":"ae5b810e.fa92f","name":"BUS API","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://gpa.madbob.org/query.php?stop={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":4020,"wires":[["1d54d18b.0645fe","21c80479.d0d29c","1734f543.0fd71b"]]},{"id":"21c80479.d0d29c","type":"tableify","z":"ae5b810e.fa92f","name":"","before":"I Passaggi del bus","after":"","tableStyle":"","theadStyle":"","tbodyStyle":"","trStyle":"","tdStyle":"","x":560,"y":3960,"wires":[["c668c769.900428"]]},{"id":"c668c769.900428","type":"debug","z":"ae5b810e.fa92f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":3960,"wires":[]},{"id":"704fef30.6e6fc","type":"ui_text","z":"ae5b810e.fa92f","group":"bfd79b35.1f1178","order":0,"width":0,"height":0,"name":"","label":"Passaggi","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":4020,"wires":[]},{"id":"1734f543.0fd71b","type":"template","z":"ae5b810e.fa92f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n<br> <strong> Linea  {{line}}</strong>  in arrivo alle <i> {{hour}}</i> \n{{/payload}}","output":"str","x":560,"y":4020,"wires":[["87db1bc1.b88908","704fef30.6e6fc"]]},{"id":"87db1bc1.b88908","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":4060,"wires":[]},{"id":"e1f084e2.5c53d8","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"Name\":\"Kazuhito Yokoi\",\"Age\":\"35\",\"Favourite Color\":\"red\",\"Date Of Birth\":\"12/09/1983\"},{\"Name\":\"Oli Bob\",\"Age\":\"12\",\"Favourite Color\":\"red\",\"Date Of Birth\":\"12/08/2017\"}]","payloadType":"json","x":370,"y":4120,"wires":[[]]},{"id":"d22419b0.1ebd18","type":"comment","z":"ae5b810e.fa92f","name":"Normal table","info":"","x":370,"y":4080,"wires":[]},{"id":"cb503bfa.e65c88","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"Name\":\"<b>Yokoi</b>\",\"Age\":\"30\",\"Color\":\"lime\",\"Prog\":70,\"Star\":\"3\"},{\"Name\":\"<i>DCJ</i>\",\"Age\":\"50\",\"Color\":\"dodgerblue\",\"Prog\":\"45\",\"Star\":2,\"Pass\":false,\"web\":\"\"},{\"Name\":\"Nick\",\"Age\":\"40\",\"Color\":\"darkred\",\"Prog\":95,\"Star\":\"5\",\"Pass\":true,\"web\":\"http://nodered.org\"},{\"Name\":\"Oli\"}]","payloadType":"json","x":370,"y":4180,"wires":[[]]},{"id":"5f6e412e.25b9a","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":3780,"wires":[]},{"id":"7980dfd2.02b","type":"http request","z":"ae5b810e.fa92f","name":"Openweathermap API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/onecall?lat={{payload.coord.lat}}&lon={{payload.coord.lon}}&exclude={part}&appid={{token}}","tls":"","persist":false,"proxy":"","authType":"","x":760,"y":3780,"wires":[["5f6e412e.25b9a"]]},{"id":"6a7f3899.b8ead8","type":"switch","z":"ae5b810e.fa92f","name":"é inferiore a 5 gradi?","property":"payload.main.temp","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"str"},{"t":"gte","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":3800,"wires":[["7980dfd2.02b"],[]]},{"id":"1e3046cd.a09e39","type":"comment","z":"ae5b810e.fa92f","name":"Non funge","info":"mio esercizio che non funge","x":80,"y":3580,"wires":[]},{"id":"2d661af3.da91c6","type":"inject","z":"ae5b810e.fa92f","name":"Utenti ITS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"id\":1,\"first_name\":\"Luca\",\"last_name\":\"Benedetto\",\"email\":\"pgriggs0@nps.gov\",\"gender\":\"Bigender\"},{\"id\":2,\"first_name\":\"Francesco\",\"last_name\":\"Boero\",\"email\":\"jthebeaud1@mlb.com\",\"gender\":\"Bigender\"},{\"id\":3,\"first_name\":\"Giovanni\",\"last_name\":\"Cafasso\",\"email\":\"gcauldwell2@jugem.jp\",\"gender\":\"Genderfluid\"},{\"id\":4,\"first_name\":\"Riccardo\",\"last_name\":\"Carrieri\",\"email\":\"slemarquis3@blogtalkradio.com\",\"gender\":\"Genderqueer\"},{\"id\":5,\"first_name\":\"Alessandro\",\"last_name\":\"Castellano\",\"email\":\"bhexham4@scribd.com\",\"gender\":\"Non-binary\"},{\"id\":6,\"first_name\":\"Francesco\",\"last_name\":\"Cataldo\",\"email\":\"anafziger5@ameblo.jp\",\"gender\":\"Female\"},{\"id\":7,\"first_name\":\"Niccolo\",\"last_name\":\"Chiossi\",\"email\":\"smccart6@mapy.cz\",\"gender\":\"Genderfluid\"},{\"id\":8,\"first_name\":\"Edoardo\",\"last_name\":\"Corradetti\",\"email\":\"rdurling7@opera.com\",\"gender\":\"Bigender\"},{\"id\":9,\"first_name\":\"Timothy\",\"last_name\":\"Drago\",\"email\":\"ebaigent8@umn.edu\",\"gender\":\"Non-binary\"},{\"id\":10,\"first_name\":\"Rossella\",\"last_name\":\"Femia\",\"email\":\"dsanpher9@yolasite.com\",\"gender\":\"Polygender\"},{\"id\":11,\"first_name\":\"Giorgio\",\"last_name\":\"Gai\",\"email\":\"cdenforda@issuu.com\",\"gender\":\"Female\"},{\"id\":12,\"first_name\":\"Raffaele\",\"last_name\":\"Giove\",\"email\":\"tphippardb@mtv.com\",\"gender\":\"Bigender\"},{\"id\":13,\"first_name\":\"Stefano\",\"last_name\":\"Luttati\",\"email\":\"ssteartc@usa.gov\",\"gender\":\"Agender\"},{\"id\":14,\"first_name\":\"Mattia\",\"last_name\":\"Marteddu\",\"email\":\"kaleksandrevd@weibo.com\",\"gender\":\"Polygender\"},{\"id\":15,\"first_name\":\"Alessandro\",\"last_name\":\"Medici\",\"email\":\"fcarwithime@abc.net.au\",\"gender\":\"Genderfluid\"},{\"id\":16,\"first_name\":\"Alessandro\",\"last_name\":\"Olivero\",\"email\":\"mjotchamf@blogger.com\",\"gender\":\"Non-binary\"},{\"id\":17,\"first_name\":\"Alberto\",\"last_name\":\"Palmisano\",\"email\":\"hkirkwoodg@utexas.edu\",\"gender\":\"Bigender\"},{\"id\":18,\"first_name\":\"Mattia\",\"last_name\":\"Peccerella\",\"email\":\"nmithamh@goo.gl\",\"gender\":\"Non-binary\"},{\"id\":19,\"first_name\":\"Luca\",\"last_name\":\"Pugliese\",\"email\":\"amaccleayi@so-net.ne.jp\",\"gender\":\"Female\"},{\"id\":20,\"first_name\":\"Giada\",\"last_name\":\"Russo\",\"email\":\"lmangonj@fastcompany.com\",\"gender\":\"Bigender\"},{\"id\":21,\"first_name\":\"Matteo\",\"last_name\":\"Tosetto\",\"email\":\"lshrubbk@indiatimes.com\",\"gender\":\"Male\"},{\"id\":22,\"first_name\":\"Lorenzo\",\"last_name\":\"Trocchio\",\"email\":\"hfilipovl@google.pl\",\"gender\":\"Polygender\"},{\"id\":23,\"first_name\":\"Mattia\",\"last_name\":\"Vacca\",\"email\":\"tlytellm@de.vu\",\"gender\":\"Polygender\"},{\"id\":24,\"first_name\":\"Andrea\",\"last_name\":\"Zuccarella\",\"email\":\"bgandrichn@amazon.co.uk\",\"gender\":\"Agender\"},{\"id\":25,\"first_name\":\"Alessandro\",\"last_name\":\"Cantatore\",\"email\":\"abachelaro@eventbrite.com\",\"gender\":\"Genderqueer\"},{\"id\":26,\"first_name\":\"Riccardo\",\"last_name\":\"Coata\",\"email\":\"fmanifieldp@geocities.jp\",\"gender\":\"Agender\"},{\"id\":27,\"first_name\":\"Alessio\",\"last_name\":\"Murta\",\"email\":\"rfoulisq@epa.gov\",\"gender\":\"Polygender\"},{\"id\":28,\"first_name\":\"Alberto\",\"last_name\":\"Zanotti\",\"email\":\"rdelahuntyr@google.ca\",\"gender\":\"Female\"},{\"id\":29,\"first_name\":\"Mikhail Petrovich\",\"last_name\":\"D'Onofrio\",\"email\":\"emarrians@bluehost.com\",\"gender\":\"Genderqueer\"},{\"id\":30,\"first_name\":\"Eugenio\",\"last_name\":\"Gallo\",\"email\":\"kzimmermant@histats.com\",\"gender\":\"Genderfluid\"}]","payloadType":"json","x":120,"y":4340,"wires":[["5b89a1ed.91582"]]},{"id":"5b89a1ed.91582","type":"split","z":"ae5b810e.fa92f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":270,"y":4340,"wires":[["7d38db70.2e2aa4"]]},{"id":"64520e2.4efc0f","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":4340,"wires":[]},{"id":"d6646117.7b399","type":"ui_audio","z":"ae5b810e.fa92f","name":"","group":"f9e71945.799ee8","voice":"Google italiano","always":"","x":840,"y":4380,"wires":[]},{"id":"78ac7f51.a2008","type":"comment","z":"ae5b810e.fa92f","name":"Preparazione al compito","info":"Per assecondare l'esigenza del docente di costruire un assistente vocale che supplisca a registro parlante, dobbiamo:\n- ciclare nel Payload prendendo nomi e cognomi degli studenti\n- farli dire da un interfaccia nell'ordine nome e cognome (e non il contrario)","x":470,"y":4280,"wires":[]},{"id":"7d38db70.2e2aa4","type":"template","z":"ae5b810e.fa92f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n<br> <strong> Nome {{first_name}}</strong> cognome <i> {{last_name}}</i> \n{{/payload}}","output":"str","x":460,"y":4340,"wires":[["64520e2.4efc0f"]]},{"id":"c9236f4e.94faf","type":"ui_button","z":"ae5b810e.fa92f","name":"","group":"6941bb63.c02894","order":10,"width":0,"height":0,"passthru":false,"label":"Button registro","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[{\"id\":1,\"first_name\":\"Luca\",\"last_name\":\"Benedetto\",\"email\":\"pgriggs0@nps.gov\",\"gender\":\"Bigender\"},{\"id\":2,\"first_name\":\"Francesco\",\"last_name\":\"Boero\",\"email\":\"jthebeaud1@mlb.com\",\"gender\":\"Bigender\"},{\"id\":3,\"first_name\":\"Giovanni\",\"last_name\":\"Cafasso\",\"email\":\"gcauldwell2@jugem.jp\",\"gender\":\"Genderfluid\"},{\"id\":4,\"first_name\":\"Riccardo\",\"last_name\":\"Carrieri\",\"email\":\"slemarquis3@blogtalkradio.com\",\"gender\":\"Genderqueer\"},{\"id\":5,\"first_name\":\"Alessandro\",\"last_name\":\"Castellano\",\"email\":\"bhexham4@scribd.com\",\"gender\":\"Non-binary\"},{\"id\":6,\"first_name\":\"Francesco\",\"last_name\":\"Cataldo\",\"email\":\"anafziger5@ameblo.jp\",\"gender\":\"Female\"},{\"id\":7,\"first_name\":\"Niccolo\",\"last_name\":\"Chiossi\",\"email\":\"smccart6@mapy.cz\",\"gender\":\"Genderfluid\"},{\"id\":8,\"first_name\":\"Edoardo\",\"last_name\":\"Corradetti\",\"email\":\"rdurling7@opera.com\",\"gender\":\"Bigender\"},{\"id\":9,\"first_name\":\"Timothy\",\"last_name\":\"Drago\",\"email\":\"ebaigent8@umn.edu\",\"gender\":\"Non-binary\"},{\"id\":10,\"first_name\":\"Rossella\",\"last_name\":\"Femia\",\"email\":\"dsanpher9@yolasite.com\",\"gender\":\"Polygender\"},{\"id\":11,\"first_name\":\"Giorgio\",\"last_name\":\"Gai\",\"email\":\"cdenforda@issuu.com\",\"gender\":\"Female\"},{\"id\":12,\"first_name\":\"Raffaele\",\"last_name\":\"Giove\",\"email\":\"tphippardb@mtv.com\",\"gender\":\"Bigender\"},{\"id\":13,\"first_name\":\"Stefano\",\"last_name\":\"Luttati\",\"email\":\"ssteartc@usa.gov\",\"gender\":\"Agender\"},{\"id\":14,\"first_name\":\"Mattia\",\"last_name\":\"Marteddu\",\"email\":\"kaleksandrevd@weibo.com\",\"gender\":\"Polygender\"},{\"id\":15,\"first_name\":\"Alessandro\",\"last_name\":\"Medici\",\"email\":\"fcarwithime@abc.net.au\",\"gender\":\"Genderfluid\"},{\"id\":16,\"first_name\":\"Alessandro\",\"last_name\":\"Olivero\",\"email\":\"mjotchamf@blogger.com\",\"gender\":\"Non-binary\"},{\"id\":17,\"first_name\":\"Alberto\",\"last_name\":\"Palmisano\",\"email\":\"hkirkwoodg@utexas.edu\",\"gender\":\"Bigender\"},{\"id\":18,\"first_name\":\"Mattia\",\"last_name\":\"Peccerella\",\"email\":\"nmithamh@goo.gl\",\"gender\":\"Non-binary\"},{\"id\":19,\"first_name\":\"Luca\",\"last_name\":\"Pugliese\",\"email\":\"amaccleayi@so-net.ne.jp\",\"gender\":\"Female\"},{\"id\":20,\"first_name\":\"Giada\",\"last_name\":\"Russo\",\"email\":\"lmangonj@fastcompany.com\",\"gender\":\"Bigender\"},{\"id\":21,\"first_name\":\"Matteo\",\"last_name\":\"Tosetto\",\"email\":\"lshrubbk@indiatimes.com\",\"gender\":\"Male\"},{\"id\":22,\"first_name\":\"Lorenzo\",\"last_name\":\"Trocchio\",\"email\":\"hfilipovl@google.pl\",\"gender\":\"Polygender\"},{\"id\":23,\"first_name\":\"Mattia\",\"last_name\":\"Vacca\",\"email\":\"tlytellm@de.vu\",\"gender\":\"Polygender\"},{\"id\":24,\"first_name\":\"Andrea\",\"last_name\":\"Zuccarella\",\"email\":\"bgandrichn@amazon.co.uk\",\"gender\":\"Agender\"},{\"id\":25,\"first_name\":\"Alessandro\",\"last_name\":\"Cantatore\",\"email\":\"abachelaro@eventbrite.com\",\"gender\":\"Genderqueer\"},{\"id\":26,\"first_name\":\"Riccardo\",\"last_name\":\"Coata\",\"email\":\"fmanifieldp@geocities.jp\",\"gender\":\"Agender\"},{\"id\":27,\"first_name\":\"Alessio\",\"last_name\":\"Murta\",\"email\":\"rfoulisq@epa.gov\",\"gender\":\"Polygender\"},{\"id\":28,\"first_name\":\"Alberto\",\"last_name\":\"Zanotti\",\"email\":\"rdelahuntyr@google.ca\",\"gender\":\"Female\"},{\"id\":29,\"first_name\":\"Mikhail Petrovich\",\"last_name\":\"D'Onofrio\",\"email\":\"emarrians@bluehost.com\",\"gender\":\"Genderqueer\"},{\"id\":30,\"first_name\":\"Eugenio\",\"last_name\":\"Gallo\",\"email\":\"kzimmermant@histats.com\",\"gender\":\"Genderfluid\"}]","payloadType":"json","topic":"topic","topicType":"msg","x":140,"y":4380,"wires":[["6f12ea3f.e787c4"]]},{"id":"ff617d01.3115c","type":"template","z":"ae5b810e.fa92f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n{{first_name}} {{last_name}} \n{{/payload}}","output":"str","x":620,"y":4380,"wires":[["d6646117.7b399"]]},{"id":"6f12ea3f.e787c4","type":"split","z":"ae5b810e.fa92f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":390,"y":4380,"wires":[["ff617d01.3115c"]]},{"id":"542dc8d1.fd92c8","type":"inject","z":"ae5b810e.fa92f","name":"insert multiple data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"id\":1,\"first_name\":\"Mariette\",\"last_name\":\"Ulrik\",\"email\":\"mulrik0@gravatar.com\",\"gender\":\"Genderqueer\",\"presence\":75,\"rating\":1,\"experience\":\"Yellow\"},{\"id\":2,\"first_name\":\"Gaspar\",\"last_name\":\"Dunne\",\"email\":\"gdunne1@google.com.au\",\"gender\":\"Agender\",\"presence\":46,\"rating\":3,\"experience\":\"Violet\"},{\"id\":3,\"first_name\":\"Amargo\",\"last_name\":\"Pien\",\"email\":\"apien2@reuters.com\",\"gender\":\"Agender\",\"presence\":95,\"rating\":2,\"experience\":\"Turquoise\"},{\"id\":4,\"first_name\":\"Sylvester\",\"last_name\":\"Dunn\",\"email\":\"sdunn3@abc.net.au\",\"gender\":\"Polygender\",\"presence\":61,\"rating\":1,\"experience\":\"Mauv\"},{\"id\":5,\"first_name\":\"Abbie\",\"last_name\":\"Sharrock\",\"email\":\"asharrock4@reverbnation.com\",\"gender\":\"Genderfluid\",\"presence\":21,\"rating\":1,\"experience\":\"Purple\"},{\"id\":6,\"first_name\":\"Leticia\",\"last_name\":\"Grouvel\",\"email\":\"lgrouvel5@purevolume.com\",\"gender\":\"Female\",\"presence\":38,\"rating\":5,\"experience\":\"Indigo\"},{\"id\":7,\"first_name\":\"Alberta\",\"last_name\":\"Goodfellowe\",\"email\":\"agoodfellowe6@un.org\",\"gender\":\"Female\",\"presence\":78,\"rating\":3,\"experience\":\"Violet\"},{\"id\":8,\"first_name\":\"Alair\",\"last_name\":\"Mindenhall\",\"email\":\"amindenhall7@issuu.com\",\"gender\":\"Non-binary\",\"presence\":30,\"rating\":5,\"experience\":\"Turquoise\"},{\"id\":9,\"first_name\":\"Ulises\",\"last_name\":\"Millan\",\"email\":\"umillan8@symantec.com\",\"gender\":\"Genderfluid\",\"presence\":2,\"rating\":2,\"experience\":\"Purple\"},{\"id\":10,\"first_name\":\"Man\",\"last_name\":\"Brittian\",\"email\":\"mbrittian9@mashable.com\",\"gender\":\"Polygender\",\"presence\":16,\"rating\":2,\"experience\":\"Indigo\"}]","payloadType":"json","x":150,"y":4520,"wires":[["8bd517d3.d0a458","cc49cc3c.5dc52"]]},{"id":"126fcda7.22d132","type":"range","z":"ae5b810e.fa92f","minin":"1","maxin":"5","minout":"1","maxout":"1000","action":"scale","round":true,"property":"payload.rating","name":"mappa payload.rating da 1 a 1000","x":500,"y":4580,"wires":[["9e5c00cb.9d1e6"]]},{"id":"7014d7ee.d72498","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":4520,"wires":[]},{"id":"8bd517d3.d0a458","type":"split","z":"ae5b810e.fa92f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":350,"y":4520,"wires":[["126fcda7.22d132"]]},{"id":"9e5c00cb.9d1e6","type":"join","z":"ae5b810e.fa92f","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":550,"y":4520,"wires":[["7014d7ee.d72498"]]},{"id":"cc49cc3c.5dc52","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":4580,"wires":[]},{"id":"ee6f7f4f.4a8fe","type":"inject","z":"ae5b810e.fa92f","name":"insert multiple data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"id\":1,\"first_name\":\"Mariette\",\"last_name\":\"Ulrik\",\"email\":\"mulrik0@gravatar.com\",\"gender\":\"Genderqueer\",\"presence\":75,\"rating\":1,\"experience\":\"Yellow\"},{\"id\":2,\"first_name\":\"Gaspar\",\"last_name\":\"Dunne\",\"email\":\"gdunne1@google.com.au\",\"gender\":\"Agender\",\"presence\":46,\"rating\":3,\"experience\":\"Violet\"},{\"id\":3,\"first_name\":\"Amargo\",\"last_name\":\"Pien\",\"email\":\"apien2@reuters.com\",\"gender\":\"Agender\",\"presence\":95,\"rating\":2,\"experience\":\"Turquoise\"},{\"id\":4,\"first_name\":\"Sylvester\",\"last_name\":\"Dunn\",\"email\":\"sdunn3@abc.net.au\",\"gender\":\"Polygender\",\"presence\":61,\"rating\":1,\"experience\":\"Mauv\"},{\"id\":5,\"first_name\":\"Abbie\",\"last_name\":\"Sharrock\",\"email\":\"asharrock4@reverbnation.com\",\"gender\":\"Genderfluid\",\"presence\":21,\"rating\":1,\"experience\":\"Purple\"},{\"id\":6,\"first_name\":\"Leticia\",\"last_name\":\"Grouvel\",\"email\":\"lgrouvel5@purevolume.com\",\"gender\":\"Female\",\"presence\":38,\"rating\":5,\"experience\":\"Indigo\"},{\"id\":7,\"first_name\":\"Alberta\",\"last_name\":\"Goodfellowe\",\"email\":\"agoodfellowe6@un.org\",\"gender\":\"Female\",\"presence\":78,\"rating\":3,\"experience\":\"Violet\"},{\"id\":8,\"first_name\":\"Alair\",\"last_name\":\"Mindenhall\",\"email\":\"amindenhall7@issuu.com\",\"gender\":\"Non-binary\",\"presence\":30,\"rating\":5,\"experience\":\"Turquoise\"},{\"id\":9,\"first_name\":\"Ulises\",\"last_name\":\"Millan\",\"email\":\"umillan8@symantec.com\",\"gender\":\"Genderfluid\",\"presence\":2,\"rating\":2,\"experience\":\"Purple\"},{\"id\":10,\"first_name\":\"Man\",\"last_name\":\"Brittian\",\"email\":\"mbrittian9@mashable.com\",\"gender\":\"Polygender\",\"presence\":16,\"rating\":2,\"experience\":\"Indigo\"}]","payloadType":"json","x":150,"y":4700,"wires":[["fe69c060.fc631","b5e48215.6e419"]]},{"id":"180cc977.0ab407","type":"range","z":"ae5b810e.fa92f","minin":"1","maxin":"5","minout":"1","maxout":"1000","action":"scale","round":true,"property":"payload.rating","name":"mappa payload.rating da 1 a 1000","x":500,"y":4760,"wires":[["411f0ed3.9c86d"]]},{"id":"d6180841.217288","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":4760,"wires":[]},{"id":"fe69c060.fc631","type":"split","z":"ae5b810e.fa92f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":350,"y":4700,"wires":[["180cc977.0ab407"]]},{"id":"411f0ed3.9c86d","type":"join","z":"ae5b810e.fa92f","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":4700,"wires":[["d6180841.217288"]]},{"id":"b5e48215.6e419","type":"debug","z":"ae5b810e.fa92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":4760,"wires":[]},{"id":"a3512297.44c14","type":"inject","z":"ae5b810e.fa92f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$random()*10","payloadType":"jsonata","x":130,"y":1760,"wires":[["abd9c3ba.cb2ee"]]},{"id":"29523e6e.5b91e2","type":"change","z":"ae5b810e.fa92f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"id\":1,\"first_name\":\"Luca\",\"last_name\":\"Benedetto\",\"email\":\"pgriggs0@nps.gov\",\"gender\":\"Bigender\"},{\"id\":2,\"first_name\":\"Francesco\",\"last_name\":\"Boero\",\"email\":\"jthebeaud1@mlb.com\",\"gender\":\"Bigender\"},{\"id\":3,\"first_name\":\"Giovanni\",\"last_name\":\"Cafasso\",\"email\":\"gcauldwell2@jugem.jp\",\"gender\":\"Genderfluid\"},{\"id\":4,\"first_name\":\"Riccardo\",\"last_name\":\"Carrieri\",\"email\":\"slemarquis3@blogtalkradio.com\",\"gender\":\"Genderqueer\"},{\"id\":5,\"first_name\":\"Alessandro\",\"last_name\":\"Castellano\",\"email\":\"bhexham4@scribd.com\",\"gender\":\"Non-binary\"},{\"id\":6,\"first_name\":\"Francesco\",\"last_name\":\"Cataldo\",\"email\":\"anafziger5@ameblo.jp\",\"gender\":\"Female\"},{\"id\":7,\"first_name\":\"Niccolo\",\"last_name\":\"Chiossi\",\"email\":\"smccart6@mapy.cz\",\"gender\":\"Genderfluid\"},{\"id\":8,\"first_name\":\"Edoardo\",\"last_name\":\"Corradetti\",\"email\":\"rdurling7@opera.com\",\"gender\":\"Bigender\"},{\"id\":9,\"first_name\":\"Timothy\",\"last_name\":\"Drago\",\"email\":\"ebaigent8@umn.edu\",\"gender\":\"Non-binary\"},{\"id\":10,\"first_name\":\"Rossella\",\"last_name\":\"Femia\",\"email\":\"dsanpher9@yolasite.com\",\"gender\":\"Polygender\"},{\"id\":11,\"first_name\":\"Giorgio\",\"last_name\":\"Gai\",\"email\":\"cdenforda@issuu.com\",\"gender\":\"Female\"},{\"id\":12,\"first_name\":\"Raffaele\",\"last_name\":\"Giove\",\"email\":\"tphippardb@mtv.com\",\"gender\":\"Bigender\"},{\"id\":13,\"first_name\":\"Stefano\",\"last_name\":\"Luttati\",\"email\":\"ssteartc@usa.gov\",\"gender\":\"Agender\"},{\"id\":14,\"first_name\":\"Mattia\",\"last_name\":\"Marteddu\",\"email\":\"kaleksandrevd@weibo.com\",\"gender\":\"Polygender\"},{\"id\":15,\"first_name\":\"Alessandro\",\"last_name\":\"Medici\",\"email\":\"fcarwithime@abc.net.au\",\"gender\":\"Genderfluid\"},{\"id\":16,\"first_name\":\"Alessandro\",\"last_name\":\"Olivero\",\"email\":\"mjotchamf@blogger.com\",\"gender\":\"Non-binary\"},{\"id\":17,\"first_name\":\"Alberto\",\"last_name\":\"Palmisano\",\"email\":\"hkirkwoodg@utexas.edu\",\"gender\":\"Bigender\"},{\"id\":18,\"first_name\":\"Mattia\",\"last_name\":\"Peccerella\",\"email\":\"nmithamh@goo.gl\",\"gender\":\"Non-binary\"},{\"id\":19,\"first_name\":\"Luca\",\"last_name\":\"Pugliese\",\"email\":\"amaccleayi@so-net.ne.jp\",\"gender\":\"Female\"},{\"id\":20,\"first_name\":\"Giada\",\"last_name\":\"Russo\",\"email\":\"lmangonj@fastcompany.com\",\"gender\":\"Bigender\"},{\"id\":21,\"first_name\":\"Matteo\",\"last_name\":\"Tosetto\",\"email\":\"lshrubbk@indiatimes.com\",\"gender\":\"Male\"},{\"id\":22,\"first_name\":\"Lorenzo\",\"last_name\":\"Trocchio\",\"email\":\"hfilipovl@google.pl\",\"gender\":\"Polygender\"},{\"id\":23,\"first_name\":\"Mattia\",\"last_name\":\"Vacca\",\"email\":\"tlytellm@de.vu\",\"gender\":\"Polygender\"},{\"id\":24,\"first_name\":\"Andrea\",\"last_name\":\"Zuccarella\",\"email\":\"bgandrichn@amazon.co.uk\",\"gender\":\"Agender\"},{\"id\":25,\"first_name\":\"Alessandro\",\"last_name\":\"Cantatore\",\"email\":\"abachelaro@eventbrite.com\",\"gender\":\"Genderqueer\"},{\"id\":26,\"first_name\":\"Riccardo\",\"last_name\":\"Coata\",\"email\":\"fmanifieldp@geocities.jp\",\"gender\":\"Agender\"},{\"id\":27,\"first_name\":\"Alessio\",\"last_name\":\"Murta\",\"email\":\"rfoulisq@epa.gov\",\"gender\":\"Polygender\"},{\"id\":28,\"first_name\":\"Alberto\",\"last_name\":\"Zanotti\",\"email\":\"rdelahuntyr@google.ca\",\"gender\":\"Female\"},{\"id\":29,\"first_name\":\"Mikhail Petrovich\",\"last_name\":\"D'Onofrio\",\"email\":\"emarrians@bluehost.com\",\"gender\":\"Genderqueer\"},{\"id\":30,\"first_name\":\"Eugenio\",\"last_name\":\"Gallo\",\"email\":\"kzimmermant@histats.com\",\"gender\":\"Genderfluid\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":4380,"wires":[[]]},{"id":"c085d389.66275","type":"ui_group","name":"Group 1","tab":"e8ca2ff7.025b9","order":2,"disp":false,"width":"15","collapse":false},{"id":"f446d13f.182bd","type":"ui_group","name":"Group 2","tab":"e8ca2ff7.025b9","order":1,"disp":false,"width":"4","collapse":false},{"id":"84147604.b29078","type":"ui_group","name":"Dropdown","tab":"5a6ce4c.0be6c1c","order":1,"disp":false,"width":"10","collapse":false},{"id":"bfd79b35.1f1178","type":"ui_group","name":"Fermate","tab":"5a6ce4c.0be6c1c","order":2,"disp":false,"width":"10","collapse":false},{"id":"ff9fdb9a.7da098","type":"ui_group","name":"TEST","tab":"7dcc246f.ee661c","order":1,"disp":false,"width":"8","collapse":false},{"id":"625872f.40b1e8c","type":"ui_group","name":"Default","tab":"58c2aa06.ef46e4","order":1,"disp":true,"width":"6","collapse":false},{"id":"f9e71945.799ee8","type":"ui_group","name":"Output","tab":"52978cde.15b524","order":2,"disp":true,"width":"15","collapse":false},{"id":"6941bb63.c02894","type":"ui_group","name":"Input","tab":"52978cde.15b524","order":1,"disp":true,"width":"6","collapse":false},{"id":"e8ca2ff7.025b9","type":"ui_tab","name":"ITS","icon":"dashboard","order":24,"disabled":false,"hidden":false},{"id":"5a6ce4c.0be6c1c","type":"ui_tab","name":"BUS","icon":"dashboard","disabled":false,"hidden":false},{"id":"7dcc246f.ee661c","type":"ui_tab","name":"TEST","icon":"dashboard","order":12,"disabled":false,"hidden":false},{"id":"58c2aa06.ef46e4","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"52978cde.15b524","type":"ui_tab","name":"Esercizio","icon":"dashboard","order":6,"disabled":false,"hidden":false}]