gshett_exercise.json
[{"id":"6f301f7b.4b117","type":"tab","label":"14/10/2021","disabled":true,"info":""},{"id":"b038a91b.caae68","type":"mqtt in","z":"6f301f7b.4b117","name":"","topic":"/ITS-01","qos":"2","datatype":"json","broker":"5d5dc8e5.3afd88","nl":false,"rap":true,"rh":0,"x":130,"y":240,"wires":[["bb5f2d66.28f87"]]},{"id":"60b5938a.b3f24c","type":"GSheet","z":"6f301f7b.4b117","creds":"11076975.d43f17","method":"get","action":"","sheet":"1k8znEcHT7tHhfWr8LDvnUbUG-fvPI3r5UNTStpYNfc8","cells":"Foglio4!A2:E6","flatten":false,"name":"Google Sheet","x":540,"y":240,"wires":[["d00f8c16.95546"]]},{"id":"3a61c69f.6c468a","type":"debug","z":"6f301f7b.4b117","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"user","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":220,"wires":[]},{"id":"525fd878.2c1ce8","type":"mqtt out","z":"6f301f7b.4b117","name":"","topic":"/ITS-01","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d5dc8e5.3afd88","x":400,"y":160,"wires":[]},{"id":"11d86bb0.098374","type":"inject","z":"6f301f7b.4b117","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":10,\"codice\":\"123456\"}","payloadType":"json","x":170,"y":160,"wires":[["525fd878.2c1ce8"]]},{"id":"bb5f2d66.28f87","type":"change","z":"6f301f7b.4b117","name":"","rules":[{"t":"set","p":"data","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":240,"wires":[["60b5938a.b3f24c"]]},{"id":"a15815a0.36d688","type":"aedes broker","z":"6f301f7b.4b117","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":190,"y":80,"wires":[[]]},{"id":"d00f8c16.95546","type":"function","z":"6f301f7b.4b117","name":"","func":"codice=msg.data.codice;\narray=msg.payload;\nconsole.log(array.length);\nfor(i=0; i<=array.length-1; i++){\n    codiceUser=msg.payload[i][2]\n    if(codice==codiceUser)\n    {\n        msg.hello=\"Benvenuto\";\n        msg.user=msg.payload[i];\n        break;\n    }\n    else{\n        msg.hello=\"codice errato\";\n        msg.user=\"User not found!\";\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":240,"wires":[["3a61c69f.6c468a","61a9339d.14738c"]]},{"id":"61a9339d.14738c","type":"debug","z":"6f301f7b.4b117","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"hello","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":280,"wires":[]},{"id":"5d5dc8e5.3afd88","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"11076975.d43f17","type":"gauth"}]