gsheet_get_started.json
[{"id":"81955503.7bec48","type":"tab","label":"16/09/2021 gsheet","disabled":true,"info":""},{"id":"977030d6.a1655","type":"GSheet","z":"81955503.7bec48","creds":"202c5e24.f4f672","method":"append","action":"","sheet":"1k8znEcHT7tHhfWr8LDvnUbUG-fvPI3r5UNTStpYNfc8","cells":"Foglio1!A2:B4","flatten":false,"name":"","x":550,"y":280,"wires":[[]]},{"id":"3786f41d.e4158c","type":"comment","z":"81955503.7bec48","name":"Email google ","info":"giova-95@refined-dogfish-326209.iam.gserviceaccount.com","x":170,"y":60,"wires":[]},{"id":"c67a4548.f38a28","type":"comment","z":"81955503.7bec48","name":"Chiave","info":"{  \n  \"type\": \"service_account\",\n  \"project_id\": \"refined-dogfish-326209\",\n  \"private_key_id\": \"34af0c225bb70d2ed738183249347fbcbdcd334c\",\n  \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDIitxhUE/cvm/8\\nx3Zygag5auZ+cOop90o44iCc0++TZOLK4WjOX9iCoFfoP7Q5a3nHKDQt7FuqLP29\\nOrq4tU1z4iNaP252Ca2uLZKptYFLbRWa0UfcNPY4eyWWg+F5u22ofOSP3rCyHEjm\\nmYb6g9nxaUb08yw0UaASCsZr9yV01TnEw2sZINDHB5DuLMrmjB/Uu0FlUBGk3GXn\\n/gFayUmalUKXRmO9HZ5XybIUx5p8glRBxJQSYgwded3y+RWpPz+GAZShFpeeSKRy\\nuvUIOStjeqP87eBrHilfUTJL+0VNmQcgiG/L93oPdsHcMrSc+hWfYF9sbiosJ4L0\\nfox+GdSdAgMBAAECggEAGpwSUfdOIYRDZ88vsFHz+Gpu2ygwahEeEB4xJZ4Zk/02\\n+qSeO4QMPoj4ISES0Oup5Ps4sT9Dinkd0hYQ4KFt/YpsFnWEOrVeDlaNt2cWGOQI\\nkdpjJp0Abs4oVqh5KqXsDwdDbLOnznpiUfbdKjCEorvNZoM9wlNyYfJ8EadhmPbV\\n450oLMPjz3ULHWwqir97/41S7ayHi8nSsnzMnniRcXymymzhUCClUVGAniqDffsj\\n1Vc3vvgntBZgv+m7VdlzU84o3zInmUXE2Hs2esJ5N6nurl8Yclk/7GioVJbiUWVC\\nbyp3XLR/8nso7eoQCW2Wculk/QmSR/YTP/puMvJwAQKBgQDpSPNilFiBYETN3ba4\\nSRB4j924ZBa/9a3rN9n0Sds3EXUuu0M1hvUv1wx6cGRLSW5v1cPLowMHZHrEgiEn\\nmijZpFDS6rK33FNl5wJab4Xl0SvcrmqCj9fH2XTxkKvaz9MMb2PR8QFMQvtJ9QKY\\nkzgIkkXJoCLL8PZ/xNE2FjfXgQKBgQDcEb5CKYUsNjhxCLXlqiQUkwQV/MPhkmix\\n5/i+TzAElHxjuYUSgmfb9R24PZz17SvcZn8aNejUygJ9WPveDnm/sSGqAPU4NW+H\\nmwcPO+GM3kjwgxjzXP3G3ILa1i56BtpbHvtyEyKNrnsh6Pvi8Rlt1NJJTaHSDqti\\nJ4Ck6HPrHQKBgQCF0b0bvXEPtgOB/D8Gc5MpNY3AalnKf8nmdkFmqr8/VZpc1jr1\\nh5c6fCfCTJqbvWHGcV9Bfx8LrI3oD6WpK/tm7aUXeF5QreiBOgTVj8fFTznT+5FJ\\nl+31zD4THCQY/sJYDcW69n8CGiJACHYWw8yOzimOQXf0eSNNo79HQXODAQKBgHA6\\npDp9jirD4/jRJmJfaFMNvpGv+/03eyjvUg1LuQM87kq1O8X6txiXYnapBTjtoOaf\\nZsZpI7oQ40Aldx0BaNl3beGS53uo1J3lU65TLW13lt8BHGJP1CPsJNeRTtZwVD8Q\\nB89fLsnuZ2Edvgc4SW2XkT5M1u+XB5Pg7VwsJ6GJAoGAWQmwLAldF0xf9ugYx6ze\\nJ3brxl9UVuQ2E+F1d5zNgXyqy/zh3hd3Z5xLMIB5okE/SvW5u1Kgr1C79PMWlhjs\\nFuu9sFFbaph2/pvm7LaXkDAg+9lp/96xinkeEKYSXe+bLUcEYLJydmMsj7RGnmho\\naR/rvqo+LebiDzWkCKBPXoE=\\n-----END PRIVATE KEY-----\\n\",\n  \"client_email\": \"giova-95@refined-dogfish-326209.iam.gserviceaccount.com\",\n  \"client_id\": \"109959561345541921775\",\n  \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",\n  \"token_uri\": \"https://oauth2.googleapis.com/token\",\n  \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",\n  \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/giova-95%40refined-dogfish-326209.iam.gserviceaccount.com\"\n}\n","x":330,"y":60,"wires":[]},{"id":"ecbd4ece.4f45d","type":"inject","z":"81955503.7bec48","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World","payloadType":"str","x":290,"y":280,"wires":[["977030d6.a1655"]]},{"id":"b0169133.ff0d7","type":"GSheet","z":"81955503.7bec48","creds":"202c5e24.f4f672","method":"get","action":"","sheet":"1k8znEcHT7tHhfWr8LDvnUbUG-fvPI3r5UNTStpYNfc8","cells":"Foglio2!A1:B2","flatten":true,"name":"","x":530,"y":320,"wires":[["db682571.f390a8"]]},{"id":"de8782cb.5f99a","type":"inject","z":"81955503.7bec48","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":270,"y":320,"wires":[["b0169133.ff0d7"]]},{"id":"db682571.f390a8","type":"debug","z":"81955503.7bec48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":320,"wires":[]},{"id":"f0c85b0d.f685c8","type":"mqtt in","z":"81955503.7bec48","name":"","topic":"/itsDataDouble","qos":"2","datatype":"json","broker":"48504fdf.17096","nl":false,"rap":false,"x":240,"y":560,"wires":[["720b3d11.6f1804"]]},{"id":"2550a283.50ceae","type":"GSheet","z":"81955503.7bec48","creds":"202c5e24.f4f672","method":"append","action":"","sheet":"1k8znEcHT7tHhfWr8LDvnUbUG-fvPI3r5UNTStpYNfc8","cells":"Foglio3!A2:B4","flatten":false,"name":"","x":750,"y":560,"wires":[[]]},{"id":"720b3d11.6f1804","type":"function","z":"81955503.7bec48","name":"","func":"const d = new Date();\n//stringa=\"\";\nhum=msg.payload.val1;\ntemp=msg.payload.val2;\ngiorno=d.getDate();\nmese=d.getMonth()+1;\nanno=d.getFullYear();\ndata=giorno+\"/\"+mese+\"/\"+anno;\n\n//stringa = d.getDate()+\" \"+mese+\" \"+d.getFullYear() + \" Hum: \"+\n//hum + \" Temp: \"+ temp;\narray=[data, temp, hum]\n\nmsg.payload=array;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":560,"wires":[[]]},{"id":"feafcef7.bdcfc","type":"mqtt in","z":"81955503.7bec48","name":"","topic":"/itsDataDouble","qos":"2","datatype":"json","broker":"23789271.e54d6e","nl":false,"rap":true,"rh":0,"x":240,"y":760,"wires":[["7df58ef4.057bd"]]},{"id":"7df58ef4.057bd","type":"function","z":"81955503.7bec48","name":"","func":"const today = new Date();\nconst year = today.getFullYear();\nconst month = today.getMonth() + 1 // January is 0, WTF Javascript\nconst day = today.getDate();\nconst time = `${today.getHours()}:${today.getMinutes()}:${today.getSeconds()}`;\nconst fullDate = `${day}/${month}/${year}`;\nconst result = [];\n\n// Push date\nresult.push(`${fullDate} - ${time}`);\n\n// Push humidity value\nresult.push(msg.payload.val1.toFixed(2) + \" bar\")\n\n// Push temperature\nresult.push(msg.payload.val2.toFixed(2) + \"°\")\n\n\n//msg.payload =`${fullDate} ${time} - HUM: ${msg.payload.val1.toFixed(2)} bar - TEMP: ${msg.payload.val2.toFixed(2)}°`\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":760,"wires":[["c3f85a81.80be08","ea03b2a8.32702"]]},{"id":"c3f85a81.80be08","type":"GSheet","z":"81955503.7bec48","creds":"11076975.d43f17","method":"append","action":"","sheet":"1EruWR_LY-uEZm6pmXUPyq4OWaI7JhBmJYm6E9tbetRw","cells":"Foglio3!A2","flatten":false,"name":"Google Sheet","x":760,"y":760,"wires":[[]]},{"id":"ea03b2a8.32702","type":"debug","z":"81955503.7bec48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":660,"wires":[]},{"id":"202c5e24.f4f672","type":"gauth"},{"id":"48504fdf.17096","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"23789271.e54d6e","type":"mqtt-broker","name":"HIVEMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"11076975.d43f17","type":"gauth"}]