http_get_started.json
[{"id":"ac9c294c.4da1f8","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"f74dad1.439e05","type":"function","z":"ac9c294c.4da1f8","name":"","func":"var uno = {payload : \"1\"};\nvar due = {payload : \"2\"};\nvar tre = {payload : \"3\"};\nvar quattro = {payload : \"4\"}; \n\nreturn [quattro, due, tre];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":960,"y":80,"wires":[["a78f7661.06cd78"],["94124679.ffa488"],["2d7fd443.1f3cbc"]]},{"id":"7fe25179.0004c","type":"inject","z":"ac9c294c.4da1f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":780,"y":80,"wires":[["f74dad1.439e05"]]},{"id":"a78f7661.06cd78","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":20,"wires":[]},{"id":"e67bc953.b73918","type":"inject","z":"ac9c294c.4da1f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"a","payloadType":"str","x":110,"y":240,"wires":[["96371490.5d0098"]]},{"id":"37b52eed.4bad02","type":"inject","z":"ac9c294c.4da1f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"b","payloadType":"str","x":110,"y":290,"wires":[["96371490.5d0098"]]},{"id":"96371490.5d0098","type":"function","z":"ac9c294c.4da1f8","name":"","func":"var msg1 = {payload: \"This is the first message\"};\nvar msg2 = {payload: \"This is message two\", colour: \"Blue\"};\nif (msg.payload == 'a')\n{\n    return [msg1, msg2];\n}\nelse\nreturn [[],msg2];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":300,"y":270,"wires":[["30900322.f4433c"],["984bca7e.40d148"]]},{"id":"30900322.f4433c","type":"debug","z":"ac9c294c.4da1f8","name":"Message 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":190,"wires":[]},{"id":"984bca7e.40d148","type":"debug","z":"ac9c294c.4da1f8","name":"Message 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":340,"wires":[]},{"id":"94124679.ffa488","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":80,"wires":[]},{"id":"2d7fd443.1f3cbc","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":140,"wires":[]},{"id":"e31b5428.964768","type":"function","z":"ac9c294c.4da1f8","name":"","func":"var msg = {payload : \n\t{\n\t\tsaluti : \"ciao\",\n\t\tlang : \"chinese\",\n\t\tnumero: 5\n\t}\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":40,"wires":[["fe85c123.bcd15","ff106f1b.ae2c6"]]},{"id":"8c430909.b55d88","type":"inject","z":"ac9c294c.4da1f8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":40,"wires":[["e31b5428.964768"]]},{"id":"fe85c123.bcd15","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":40,"wires":[]},{"id":"ff106f1b.ae2c6","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":80,"wires":[]},{"id":"4c644d13.d851f4","type":"inject","z":"ac9c294c.4da1f8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Milano","payloadType":"str","x":750,"y":320,"wires":[["2ba53a81.2a04b6"]]},{"id":"2ba53a81.2a04b6","type":"http request","z":"ac9c294c.4da1f8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q={{payload}}&appid=15c9b19a8e4d2f9570a497c5f49d0541","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":260,"wires":[["bb9ae1d1.5e9cf8","bd44b5e3.e3c39","2dc5ab26.3d63f4","dc43f8de.9d547"]]},{"id":"bb9ae1d1.5e9cf8","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":260,"wires":[]},{"id":"bd44b5e3.e3c39","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.humidity","targetType":"msg","x":1100,"y":300,"wires":[]},{"id":"2dc5ab26.3d63f4","type":"function","z":"ac9c294c.4da1f8","name":"","func":"msg.payload = msg.payload.main.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":360,"wires":[["6b462a7.00084d4"]]},{"id":"6b462a7.00084d4","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":360,"wires":[]},{"id":"dc43f8de.9d547","type":"function","z":"ac9c294c.4da1f8","name":"Concatenare","func":"var st1 = \"a \";\nvar um = \" l'umidità é di\";\n\nvar name = msg.payload.name;\nvar st2 = msg.payload.main.humidity;\n\nmsg.payload = st1.concat(name, um, \" \", st2);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":400,"wires":[["e559c66d.161128"]]},{"id":"e559c66d.161128","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1250,"y":400,"wires":[]},{"id":"10487c8b.b195d3","type":"inject","z":"ac9c294c.4da1f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":480,"wires":[["f8572dc5.97588"]]},{"id":"f8572dc5.97588","type":"function","z":"ac9c294c.4da1f8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":480,"wires":[["87b604aa.9a1958"]]},{"id":"87b604aa.9a1958","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":480,"wires":[]},{"id":"3eabba5e.226fa6","type":"inject","z":"ac9c294c.4da1f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ITS-ICT","payload":"Internet Of Things","payloadType":"str","x":210,"y":660,"wires":[["eb4a7864.dcb0d8","350bcd3b.cfcc32"]]},{"id":"eb4a7864.dcb0d8","type":"function","z":"ac9c294c.4da1f8","name":"UpperCase / LowerCase","func":"var testo = msg.payload ;\nmsg.payload = testo.toUpperCase();\n\nvar tema = msg.topic;\nmsg.topic = tema.toLowerCase();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":660,"wires":[["539b6b0d.a1ec84"]]},{"id":"539b6b0d.a1ec84","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":600,"wires":[]},{"id":"2449193a.0c6336","type":"comment","z":"ac9c294c.4da1f8","name":"Functions","info":"","x":110,"y":420,"wires":[]},{"id":"350bcd3b.cfcc32","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":600,"wires":[]},{"id":"29dceaca.ad08e6","type":"inject","z":"ac9c294c.4da1f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ITS-ICT","payload":"Internet Of Things","payloadType":"str","x":190,"y":880,"wires":[["cb3e996d.a4f2a8","1518d228.7afbbe"]]},{"id":"cb3e996d.a4f2a8","type":"function","z":"ac9c294c.4da1f8","name":"For Loop","func":"var m_out = []; // array per contenere i messaggi\nvar messaggio = msg.payload; \n\nfor (i = 0; i < 3; i++){\n    \n    messaggio = messaggio + i;\n    \n    //messaggio+=i; // <-- potevo scriverlo anche così\n\n    var newMessaggio = {payload : messaggio, topic : msg.topic}\n    \n    m_out.push(newMessaggio)\n    \n}\n\nreturn [m_out];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":880,"wires":[["cdee425e.4a933"]]},{"id":"cdee425e.4a933","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":820,"wires":[]},{"id":"1518d228.7afbbe","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":820,"wires":[]},{"id":"b33a1ee3.7781f","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":1040,"wires":[]},{"id":"915fd9a8.a433c8","type":"csv","z":"ac9c294c.4da1f8","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"Sex, Weight (Sep), Weight (Apr), BMI (Sep), BMI (Apr),","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":430,"y":1040,"wires":[["5945036d.559f5c","41155cd6.c2e4d4"]]},{"id":"cfd72ddb.961fd","type":"file in","z":"ac9c294c.4da1f8","name":"Importa il file","filename":"E:\\Users\\Utente\\Downloads\\freshman_kgs.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":270,"y":1040,"wires":[["915fd9a8.a433c8","6822693e.4bade8"]]},{"id":"b2450dd9.e968a","type":"inject","z":"ac9c294c.4da1f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1040,"wires":[["cfd72ddb.961fd"]]},{"id":"41155cd6.c2e4d4","type":"function","z":"ac9c294c.4da1f8","name":"Parse / Aggiungi all'oggetto","func":"var data = msg.payload;\nvar peso = parseInt(data[\"Weight (Sep)\"]);\nvar peso2 = parseInt(data[\"Weight (Apr)\"]);\nvar diff = peso - peso2;\n\ndata[\"Weight (Sep)\"] = peso;\ndata[\"Weight (Apr)\"] = peso2;\ndata[\"differenza\"] = diff;\n\nvar BMI = parseFloat(data[\"BMI (Sep)\"]);\nvar BMI2 = parseFloat(data[\"BMI (Apr)\"]);\n\ndata[\"BMI (Sep)\"] = BMI;\ndata[\"BMI (Apr)\"] = BMI2;\n\nvar diffBMI=BMI-BMI2;\ndata[\"differenzaBMI\"] = diffBMI;\nvar string =\"\";\nif(diff<=-5)\n{\n    string = \"OK+\";\n}\nelse if (diff<=0 && diff>-5)\n{\n    string = \"OK\";    \n}\nelse if (diff>0)\n{\n    string = \"WARN\";    \n}\ndata[\"Commento\"] = string;\n\n\nmsg.payload = data;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1040,"wires":[["b33a1ee3.7781f","b04825bf.aa3b78"]]},{"id":"6822693e.4bade8","type":"debug","z":"ac9c294c.4da1f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":1120,"wires":[]},{"id":"5945036d.559f5c","type":"debug","z":"ac9c294c.4da1f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[\"Weight (Sep)\"]","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":1120,"wires":[]},{"id":"b04825bf.aa3b78","type":"switch","z":"ac9c294c.4da1f8","name":"","property":"payload.Commento","propertyType":"msg","rules":[{"t":"eq","v":"WARN","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":1120,"wires":[["4d398da6.8f6634"]]},{"id":"9f021898.fdf5b8","type":"change","z":"ac9c294c.4da1f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Worm! Ingrassato/a","tot":"str"},{"t":"set","p":"payload.nome","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":740,"wires":[[]]},{"id":"4d398da6.8f6634","type":"function","z":"ac9c294c.4da1f8","name":"","func":"var sesso=msg.payload.Sex;\nvar messaggio=\"Worm! Ingrassata/o\";\nvar data=msg.payload;\ndata[\"sesso\"] = sesso;\ndata[\"msg\"] = messaggio;\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":1120,"wires":[[]]},{"id":"b8959b63.e61348","type":"http request","z":"ac9c294c.4da1f8","name":"post to HttpBin","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://httpbin.org/post","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":1320,"wires":[["5d33aaac.275d84"]]},{"id":"b0647d06.fed9f","type":"inject","z":"ac9c294c.4da1f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1320,"wires":[["b8959b63.e61348"]]},{"id":"5d33aaac.275d84","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":1320,"wires":[]},{"id":"412b210.91c59e","type":"http request","z":"ac9c294c.4da1f8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"localhost:1880/test?val1=224&val2=5","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1540,"wires":[["90e8fae.f1f8b08"]]},{"id":"90e8fae.f1f8b08","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":1540,"wires":[]},{"id":"605a4edb.2c919","type":"http in","z":"ac9c294c.4da1f8","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1420,"wires":[["ec1efb0a.a7fe98","1ffbc736.cfbb09"]]},{"id":"ec1efb0a.a7fe98","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":1420,"wires":[]},{"id":"6912a5cb.43995c","type":"inject","z":"ac9c294c.4da1f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1540,"wires":[["412b210.91c59e"]]},{"id":"1ffbc736.cfbb09","type":"function","z":"ac9c294c.4da1f8","name":"Somma valori","func":"x = 0;\ny = 0;\n\n//x = msg.req.query.val1;\n//y = msg.req.query.val2;\ny=msg.payload.val2  //esperimento mio\nx=msg.payload.val1  //esperimento mio\n\nvar total = parseInt(x) + parseInt(y);\n\n\nmsg.payload = total;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":1480,"wires":[["f4b14f04.bb7bc"]]},{"id":"f4b14f04.bb7bc","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":1480,"wires":[]},{"id":"30899694.c9cdba","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":1740,"wires":[]},{"id":"ec4d7ed7.bb6","type":"inject","z":"ac9c294c.4da1f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1660,"wires":[["bc5cc9ce.517308"]]},{"id":"bc5cc9ce.517308","type":"http request","z":"ac9c294c.4da1f8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://www.comune.torino.it/","tls":"","persist":false,"proxy":"","authType":"basic","x":290,"y":1720,"wires":[["981b136.b8a14f"]]},{"id":"981b136.b8a14f","type":"html","z":"ac9c294c.4da1f8","name":"","property":"payload","outproperty":"payload","tag":"#meteo > p.meteoSituazione > span","ret":"html","as":"single","x":510,"y":1640,"wires":[["fad2982c.ffa018","8a291401.9fd5f8"]]},{"id":"fad2982c.ffa018","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":1640,"wires":[]},{"id":"8a291401.9fd5f8","type":"change","z":"ac9c294c.4da1f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substringBefore(payload[0], \" \")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1740,"wires":[["30899694.c9cdba"]]},{"id":"269d3035.80b78","type":"http in","z":"ac9c294c.4da1f8","name":"","url":"/test-page-01","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1940,"wires":[["ad79bdee.686af"]]},{"id":"ad79bdee.686af","type":"template","z":"ac9c294c.4da1f8","name":"templete HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>    \n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css\" integrity=\"sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ\" crossorigin=\"anonymous\">\n</head>    \n    \n<body>\n<div class = \"container\">\n    \n\n<h1>My First Heading</h1>\n<p>My first paragraph.</p>\n\n<div class=\"jumbotron\">\n  <h1 class=\"display-3\">Hello, {{flow.payload}}!</h1>\n  <p class=\"lead\">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>\n  <hr class=\"my-4\">\n  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>\n  <p class=\"lead\">\n    <a class=\"btn btn-primary btn-lg\" href=\"#\" role=\"button\">Learn more</a>\n  </p>\n</div>\n\n<table class=\"table table-hover\">\n  <thead>\n    <tr>\n      <th scope=\"col\">Type</th>\n      <th scope=\"col\">Column heading</th>\n      <th scope=\"col\">Column heading</th>\n      <th scope=\"col\">Column heading</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr class=\"table-active\">\n      <th scope=\"row\">Active</th>\n      <td>Column content</td>\n      <td>Column content</td>\n      <td>Column content</td>\n    </tr>\n    <tr>\n      <th scope=\"row\">Default</th>\n      <td>Column content</td>\n      <td>Column content</td>\n      <td>Column content</td>\n    </tr>\n\n  </tbody>\n</table>\n\n</div>\n</body>\n</html>","output":"str","x":400,"y":1940,"wires":[["24fd275f.0ee188"]]},{"id":"24fd275f.0ee188","type":"http response","z":"ac9c294c.4da1f8","name":"","statusCode":"","headers":{},"x":590,"y":1940,"wires":[]},{"id":"2e16b94f.f6b7a6","type":"comment","z":"ac9c294c.4da1f8","name":"Basic CSS page based on slate","info":"","x":190,"y":1900,"wires":[]},{"id":"ed46bc18.9cf35","type":"http in","z":"ac9c294c.4da1f8","name":"http in","url":"/url","method":"get","upload":false,"swaggerDoc":"","x":930,"y":1920,"wires":[[]]},{"id":"b9bad75e.25dc48","type":"http response","z":"ac9c294c.4da1f8","name":"http response","statusCode":"","headers":{},"x":960,"y":2000,"wires":[]},{"id":"47b0c827.516198","type":"http request","z":"ac9c294c.4da1f8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":950,"y":1960,"wires":[[]]},{"id":"9ceac815.05bfd8","type":"comment","z":"ac9c294c.4da1f8","name":"Tipologie HTTP","info":"","x":960,"y":1880,"wires":[]},{"id":"f056b517.ce5128","type":"http in","z":"ac9c294c.4da1f8","d":true,"name":"","url":"/test-page","method":"get","upload":false,"swaggerDoc":"","x":120,"y":2280,"wires":[["156a3068.ca0de","831a64cc.ca0bd8"]]},{"id":"156a3068.ca0de","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":2220,"wires":[]},{"id":"831a64cc.ca0bd8","type":"template","z":"ac9c294c.4da1f8","d":true,"name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>    \n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css\" integrity=\"sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ\" crossorigin=\"anonymous\">\n</head>    \n    \n<body>\n<div class = \"container\">\n    \n\n<h1>My First Heading</h1>\n<p>My first paragraph.</p>\n\n<div class=\"jumbotron\">\n    {{flow.interactive}}\n  <h1 class=\"display-3\">Hello, {{flow.its}}</h1>\n  <p class=\"lead\">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>\n  <hr class=\"my-4\">\n  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>\n  <p class=\"lead\">\n    <a class=\"btn btn-primary btn-lg\" href=\"#\" role=\"button\">Learn more</a>\n  </p>\n \n</div>\n\n<table class=\"table table-hover\">\n  <thead>\n    <tr>\n      <th scope=\"col\">Type</th>\n      <th scope=\"col\">Column heading</th>\n      <th scope=\"col\">Column heading</th>\n      <th scope=\"col\">Column heading</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr class=\"table-active\">\n      <th scope=\"row\">Active</th>\n      <td>Column content</td>\n      <td>Column content</td>\n      <td>Column content</td>\n    </tr>\n\n  </tbody>\n</table>\n\n<form method=\"POST\" action=\"/test-page\">\n\n     <div class=\"form-group\">\n      <label for=\"name\">name</label>\n      <input class=\"form-control\" id=\"name\" name=\"name\">\n    </div>\n    <button type=\"submit\" class=\"btn btn-primary\">Submit</button>\n</form>\n\n\n\n</div>\n</body>\n</html>","output":"str","x":420,"y":2320,"wires":[["79a14378.f0582c","fecf15a4.49c758"]]},{"id":"333c7ec1.fc6682","type":"http request","z":"ac9c294c.4da1f8","d":true,"name":"","method":"GET","ret":"txt","paytoqs":"query","url":"localhost:1880/test-page","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":2200,"wires":[["156a3068.ca0de"]]},{"id":"79a14378.f0582c","type":"http response","z":"ac9c294c.4da1f8","name":"","statusCode":"","headers":{},"x":660,"y":2320,"wires":[]},{"id":"a23d67d1.9ec108","type":"inject","z":"ac9c294c.4da1f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ITS","payloadType":"str","x":130,"y":2200,"wires":[["333c7ec1.fc6682","c8e7d3d1.3aaf7"]]},{"id":"33daf5d1.599e3a","type":"inject","z":"ac9c294c.4da1f8","name":"here's the flow value","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"here's the flow value","payloadType":"str","x":158,"y":2404,"wires":[["80439612.c5fa78"]]},{"id":"baba3857.010b18","type":"inject","z":"ac9c294c.4da1f8","name":"here's a different flow value","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"here's a different flow value","payloadType":"str","x":182.3333282470703,"y":2454.666748046875,"wires":[["80439612.c5fa78"]]},{"id":"80439612.c5fa78","type":"change","z":"ac9c294c.4da1f8","name":"","rules":[{"t":"set","p":"interactive","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":458,"y":2404,"wires":[[]]},{"id":"fecf15a4.49c758","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":2360,"wires":[]},{"id":"840296ae.df04a8","type":"http in","z":"ac9c294c.4da1f8","d":true,"name":"","url":"/test-page","method":"post","upload":false,"swaggerDoc":"","x":120,"y":2340,"wires":[["156a3068.ca0de","831a64cc.ca0bd8"]]},{"id":"c8e7d3d1.3aaf7","type":"change","z":"ac9c294c.4da1f8","name":"","rules":[{"t":"set","p":"its","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2140,"wires":[[]]},{"id":"a7538591.232348","type":"http in","z":"ac9c294c.4da1f8","name":"","url":"/valuta","method":"get","upload":false,"swaggerDoc":"","x":130,"y":2620,"wires":[["70c81182.447ab"]]},{"id":"70c81182.447ab","type":"template","z":"ac9c294c.4da1f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>    \n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css\" integrity=\"sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ\" crossorigin=\"anonymous\">\n</head>    \n    \n<body>\n<div class = \"container\">\n    \n\n<h1>Valuta</h1>\n<p>Traduzione valuta.</p>\n\n\n<form method=\"POST\" action=\"/valuta\">\n\n<div class=\"form-group\">\n      <label for=\"name\">Valore iniziale</label>\n      <input class=\"form-control\" id=\"name\" name=\"name\">\n</div>\n    <button type=\"submit\" class=\"btn btn-primary\">Submit</button>\n</form>\n\n<div class=\"form-group\">\n  <label class=\"col-form-label\" for=\"outputDefault\">Risultato: {{flow.ris}}</label>\n</div>\n\n\n</div>\n</body>\n</html>","output":"str","x":420,"y":2620,"wires":[["258efe73.38ac32","a1df9f99.07412"]]},{"id":"258efe73.38ac32","type":"http response","z":"ac9c294c.4da1f8","name":"","statusCode":"","headers":{},"x":710,"y":2640,"wires":[]},{"id":"38a40221.480ade","type":"http in","z":"ac9c294c.4da1f8","name":"","url":"/valuta","method":"post","upload":false,"swaggerDoc":"","x":90,"y":2700,"wires":[["98735fab.676fe","68c3d62e.129c98"]]},{"id":"68c3d62e.129c98","type":"function","z":"ac9c294c.4da1f8","name":"Conversione","func":"var x = 0;\n//x = msg.req.query.val1;\n//y = msg.req.query.val2;\n\nx=msg.payload.name\n\nvar ris = parseFloat(x) * 1.08310;\n\nmsg.payload = ris;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":2720,"wires":[["60415530.07967c","70c81182.447ab"]]},{"id":"60415530.07967c","type":"change","z":"ac9c294c.4da1f8","name":"","rules":[{"t":"set","p":"ris","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":2720,"wires":[[]]},{"id":"98735fab.676fe","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":2780,"wires":[]},{"id":"a1df9f99.07412","type":"debug","z":"ac9c294c.4da1f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":2600,"wires":[]},{"id":"9f0d30d6.d879a","type":"http in","z":"ac9c294c.4da1f8","name":"Landing Page","url":"/test-page","method":"get","upload":false,"swaggerDoc":"","x":110,"y":2940,"wires":[["31976f8d.20d33"]]},{"id":"31976f8d.20d33","type":"template","z":"ac9c294c.4da1f8","name":"Contenuto del Sito","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>    \n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css\" integrity=\"sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ\" crossorigin=\"anonymous\">\n</head>    \n    \n<body>\n<div class = \"container\">\n\n<h1>Cambio valuta</h1>\n<p>Conversione in EUR e USD.</p>\n\n<div class=\"jumbotron\">\n  <h1 class=\"display-3\">Hello</h1>\n</div>\n\n<div class=\"progress\">\n  <div class=\"progress-bar bg-success\" role=\"progressbar\" style=\"width: 25%;\" aria-valuenow=\"{{flow.val}}\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div>\n</div>\n\n\n\n<table class=\"table table-hover\">\n  <thead>\n    <tr>\n      <th scope=\"col\">Type</th>\n      <th scope=\"col\">Column heading</th>\n      <th scope=\"col\">Column heading</th>\n      <th scope=\"col\">Column heading</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr class=\"table-active\">\n      <th scope=\"row\">Active</th>\n      <td>Column content</td>\n      <td>Column content</td>\n      <td>Column content</td>\n    </tr>\n\n  </tbody>\n</table>\n<div class=\"row\">\n  <div class=\"col-md-4\">\n<form method=\"POST\" action=\"/test-page\">\n\n     <div class=\"form-group\">\n      <label for=\"name\">Inserisci EUR o USD</label>\n      <input class=\"form-control\" id=\"name\" name=\"name\">\n      \n      <label for=\"exampleSelect1\">Seleziona conversione:</label>\n      <select class=\"form-control\" id=\"exampleSelect1\"name=\"valuta\">\n        <option>EUR</option>\n        <option>USD</option>\n     </select>\n    <button type=\"submit\" class=\"btn btn-primary\">Calcola</button>\n</form>\n      <label for=\"exampleSelect1\">Risultato: {{flow.val}}</label>\n</div>\n\n\n</div>\n</body>\n</html>","output":"str","x":350,"y":2940,"wires":[["1fd8c806.331fa8","2ce6d505.ccd35a"]]},{"id":"2ce6d505.ccd35a","type":"http response","z":"ac9c294c.4da1f8","name":"","statusCode":"","headers":{},"x":550,"y":2940,"wires":[]},{"id":"1fd8c806.331fa8","type":"debug","z":"ac9c294c.4da1f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":2860,"wires":[]},{"id":"44f09af0.584c44","type":"http in","z":"ac9c294c.4da1f8","name":"","url":"/test-page","method":"post","upload":false,"swaggerDoc":"","x":100,"y":2980,"wires":[["e7ab8be4.c40c98","9fd1558a.528468"]]},{"id":"9fd1558a.528468","type":"function","z":"ac9c294c.4da1f8","name":"Conversione","func":"function multiplyNumbers(x,y){\n    return x*y;\n}\n\nvar x = msg.payload.name; // msg.req.body.name\nvar valuta=msg.payload.valuta;\nvar totale=0;\nif(valuta==\"EUR\")\n    total = multiplyNumbers(parseInt(x),1.191178);\nelse if(valuta==\"USD\")\n    total = multiplyNumbers(parseInt(x),0.839505);\n\n\nmsg.payload = total;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":3020,"wires":[["8a2f08a2.9325d8","9d4e9de1.f7021"]]},{"id":"8a2f08a2.9325d8","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":3100,"wires":[]},{"id":"e7ab8be4.c40c98","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":110,"y":3040,"wires":[]},{"id":"9d4e9de1.f7021","type":"change","z":"ac9c294c.4da1f8","name":"","rules":[{"t":"set","p":"val","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":3020,"wires":[["31976f8d.20d33"]]},{"id":"3487589d.906038","type":"comment","z":"ac9c294c.4da1f8","name":"Mio","info":"","x":140,"y":2580,"wires":[]},{"id":"21321f07.b5a86","type":"comment","z":"ac9c294c.4da1f8","name":"Prof.","info":"","x":90,"y":2880,"wires":[]},{"id":"c8b483a7.bed8e","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":3240,"wires":[]},{"id":"67ded455.ef00bc","type":"inject","z":"ac9c294c.4da1f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":3200,"wires":[["bc54e426.c17408"]]},{"id":"bc54e426.c17408","type":"http request","z":"ac9c294c.4da1f8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.freeforexapi.com/api/live?pairs=EURUSD","tls":"","persist":false,"proxy":"","authType":"basic","x":330,"y":3200,"wires":[["f194cb30.3804a8"]]},{"id":"f50ffcb2.fc654","type":"change","z":"ac9c294c.4da1f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substringBefore(payload[0], \" \")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":3240,"wires":[["c8b483a7.bed8e"]]},{"id":"f194cb30.3804a8","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":3200,"wires":[]},{"id":"41b81278.b7399c","type":"http in","z":"ac9c294c.4da1f8","name":"","url":"/exchange","method":"get","upload":false,"swaggerDoc":"","x":100,"y":3520,"wires":[["24036eda.cfe0e2","9b19f7fd.aa5908"]]},{"id":"24036eda.cfe0e2","type":"debug","z":"ac9c294c.4da1f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":3420,"wires":[]},{"id":"9b19f7fd.aa5908","type":"template","z":"ac9c294c.4da1f8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>    \n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css\" integrity=\"sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH\" crossorigin=\"anonymous\">\n</head>    \n    \n<body>\n<div class = \"container\">\n\n<div class=\"jumbotron\">\n  <h1 class=\"display-3\">Exchange</h1>\n  <p class=\"lead\">Converti EURO in altre valute</p>\n \n</div>\n\n<form method=\"POST\" action=\"/exchange\">\n  <div class=\"form-row\">\n    <div class=\"form-group col-md-6\">\n        <p>Da</p>\n      <label for=\"from\">Seleziona valuta</label>\n      <select name=\"from\" id=\"from\" class=\"form-control\" >\n        <option value=\"EUR\" selected >EUR</option>\n        <option value=\"USD\" >USD</option>\n        <option value=\"GBP\" >GBP</option>\n      </select>\n      <label for=\"value\">Quantità</label>\n      <input class=\"form-control\" id=\"value\" name=\"value\" value={{payload.value}}>\n    </div>\n    <div class=\"form-group col-md-6\">\n        <p>A</p>\n      <label for=\"to\">Seleziona valuta</label>\n      <select name=\"to\" id=\"to\" class=\"form-control\">\n        <option value=\"EUR\" >EUR</option>\n        <option value=\"USD\" selected>USD</option>\n        <option value=\"GBP\" >GBP</option>\n      </select>\n      <!-- <label for=\"result\">Quantità</label>\n      <input class=\"form-control\" id=\"result\" name=\"result\" readonly value={{payload.result}}>-->\n    </div>\n  </div>\n  <button type=\"submit\" class=\"btn btn-primary\">Converti</button>\n</form>\n\n<div>\n    <p class=\"display-4 text-center mt-6 font-italic\">{{payload.message}}</p>\n</div>\n\n\n\n</div>\n</body>\n</html>","output":"str","x":800,"y":3520,"wires":[["b0bd901f.9def9","e932f8eb.91ea68"]]},{"id":"b0bd901f.9def9","type":"http response","z":"ac9c294c.4da1f8","name":"","statusCode":"","headers":{},"x":1090,"y":3400,"wires":[]},{"id":"2c32a810.018178","type":"http in","z":"ac9c294c.4da1f8","name":"","url":"/exchange","method":"post","upload":false,"swaggerDoc":"","x":100,"y":3580,"wires":[["24036eda.cfe0e2","f69eee67.47198","f0d40fde.ff596","1b896250.b10c2e"]]},{"id":"e932f8eb.91ea68","type":"debug","z":"ac9c294c.4da1f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":3520,"wires":[]},{"id":"f69eee67.47198","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":3680,"wires":[]},{"id":"f0d40fde.ff596","type":"http request","z":"ac9c294c.4da1f8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://www.freeforexapi.com/api/live?pairs={{payload.from}}{{payload.to}}","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":3600,"wires":[["fac841f9.0a7e7","822bf310.ed441"]]},{"id":"fac841f9.0a7e7","type":"debug","z":"ac9c294c.4da1f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":3680,"wires":[]},{"id":"822bf310.ed441","type":"function","z":"ac9c294c.4da1f8","name":"","func":"const value = flow.get(\"value\");\nconst from = flow.get(\"from\");\nconst to = flow.get(\"to\");\n\nconst rates = msg.payload.rates;\nconst pair = from + to;\n\n\nconst rate = rates[pair].rate;\nconst result = value * rate;\n\nmsg.payload.result = result;\nmsg.payload.value = value;\nmsg.payload.message = `${value} ${from} = ${result.toFixed(2)} ${to}`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":3600,"wires":[["be44c58d.905198","9b19f7fd.aa5908"]]},{"id":"be44c58d.905198","type":"debug","z":"ac9c294c.4da1f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":3680,"wires":[]},{"id":"1b896250.b10c2e","type":"change","z":"ac9c294c.4da1f8","name":"","rules":[{"t":"set","p":"from","pt":"flow","to":"payload.from","tot":"msg"},{"t":"set","p":"to","pt":"flow","to":"payload.to","tot":"msg"},{"t":"set","p":"value","pt":"flow","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":3680,"wires":[[]]},{"id":"64ce65cc.3a3fbc","type":"ui_text","z":"ac9c294c.4da1f8","group":"2c97141.3123eec","order":0,"width":0,"height":0,"name":"","label":"Risultato: ","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":3960,"wires":[]},{"id":"aa0408e0.036368","type":"ui_text_input","z":"ac9c294c.4da1f8","name":"","label":"","tooltip":"","group":"e10f7789.28eed8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":100,"y":3920,"wires":[["d3228860.d9f4f8"]]},{"id":"2523d1a3.f0d57e","type":"ui_dropdown","z":"ac9c294c.4da1f8","name":"","label":"","tooltip":"","place":"Select option","group":"e10f7789.28eed8","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"EUR","value":"EUR","type":"str"},{"label":"USD","value":"USD","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":100,"y":3980,"wires":[["3541783e.efebe8"]]},{"id":"53fe29bf.c2a838","type":"function","z":"ac9c294c.4da1f8","name":"","func":"var x=msg.valore;\nvar y=msg.scelta;\nvar ris=0;\nif(y==\"EUR\")\n    ris=parseFloat(x)*1.191178;\nelse if(y==\"USD\")\n    ris=parseFloat(x)*0.839505;\n    \nmsg.payload=ris;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":3960,"wires":[["64ce65cc.3a3fbc","3bcb8a77.c90c86"]]},{"id":"3bcb8a77.c90c86","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":4040,"wires":[]},{"id":"9724aab4.f60168","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":4080,"wires":[]},{"id":"3541783e.efebe8","type":"change","z":"ac9c294c.4da1f8","name":"","rules":[{"t":"set","p":"scelta","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":3980,"wires":[["53fe29bf.c2a838","9724aab4.f60168"]]},{"id":"d3228860.d9f4f8","type":"change","z":"ac9c294c.4da1f8","name":"","rules":[{"t":"set","p":"valore","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":3920,"wires":[["53fe29bf.c2a838","1ba418e9.d0e517"]]},{"id":"bf60b8.b136b748","type":"http request","z":"ac9c294c.4da1f8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://www.freeforexapi.com/api/live?pairs={{payload.from}}{{payload.to}}","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":4840,"wires":[["f0831588.228b58"]]},{"id":"e4cab682.a14598","type":"ui_text_input","z":"ac9c294c.4da1f8","name":"","label":"","tooltip":"","group":"b750e8e.87cde18","order":3,"width":"4","height":"1","passthru":true,"mode":"number","delay":300,"topic":"payload.value","topicType":"str","x":150,"y":4460,"wires":[["a1973af7.20f3f"]]},{"id":"c60c34d1.257e","type":"ui_dropdown","z":"ac9c294c.4da1f8","name":"","label":"from","tooltip":"","place":"Select option","group":"b750e8e.87cde18","order":1,"width":"4","height":"1","passthru":true,"multiple":false,"options":[{"label":"EUR","value":"EUR","type":"str"},{"label":"USD","value":"USD","type":"str"},{"label":"GBP","value":"GBP","type":"str"}],"payload":"","topic":"from","topicType":"str","x":170,"y":4400,"wires":[["40f2b184.591cb"]]},{"id":"15137eaa.baaab9","type":"ui_dropdown","z":"ac9c294c.4da1f8","name":"","label":"to","tooltip":"","place":"Select option","group":"b750e8e.87cde18","order":1,"width":"4","height":"1","passthru":true,"multiple":false,"options":[{"label":"EUR","value":"EUR","type":"str"},{"label":"USD","value":"USD","type":"str"},{"label":"GBP","value":"GBP","type":"str"}],"payload":"","topic":"to","topicType":"str","x":170,"y":4520,"wires":[["81cca0e3.4dd0f8"]]},{"id":"628853bf.66bfd4","type":"ui_button","z":"ac9c294c.4da1f8","name":"","group":"b750e8e.87cde18","order":0,"width":"1","height":"1","passthru":false,"label":"convert","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"payload","topicType":"str","x":120,"y":4700,"wires":[["90dad6c6.cc6f08"]]},{"id":"f0831588.228b58","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":4840,"wires":[]},{"id":"81cca0e3.4dd0f8","type":"change","z":"ac9c294c.4da1f8","name":"","rules":[{"t":"set","p":"to","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":4520,"wires":[[]]},{"id":"a1973af7.20f3f","type":"change","z":"ac9c294c.4da1f8","name":"","rules":[{"t":"set","p":"value","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":4460,"wires":[[]]},{"id":"40f2b184.591cb","type":"change","z":"ac9c294c.4da1f8","name":"","rules":[{"t":"set","p":"from","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":4400,"wires":[[]]},{"id":"24e9e8eb.081cc8","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":4680,"wires":[]},{"id":"93e6edc4.7fc7","type":"inject","z":"ac9c294c.4da1f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":4740,"wires":[["90dad6c6.cc6f08"]]},{"id":"90dad6c6.cc6f08","type":"change","z":"ac9c294c.4da1f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.to","pt":"msg","to":"to","tot":"flow"},{"t":"set","p":"payload.from","pt":"msg","to":"from","tot":"flow"},{"t":"set","p":"payload.value","pt":"msg","to":"value","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":4720,"wires":[["24e9e8eb.081cc8","bf60b8.b136b748"]]},{"id":"3d4263c2.ced29c","type":"comment","z":"ac9c294c.4da1f8","name":"Dropdown Payloads that are moved to the Flow Context","info":"","x":260,"y":4340,"wires":[]},{"id":"e0287405.264198","type":"comment","z":"ac9c294c.4da1f8","name":"Trying to see all 3 different dropdown payload in the same object","info":"","x":290,"y":4640,"wires":[]},{"id":"a3a31007.ff02f","type":"comment","z":"ac9c294c.4da1f8","name":"expecting two payload values to populate this http request","info":"","x":770,"y":4780,"wires":[]},{"id":"1ba418e9.d0e517","type":"debug","z":"ac9c294c.4da1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":3860,"wires":[]},{"id":"6663523c.4a57ec","type":"comment","z":"ac9c294c.4da1f8","name":"Mio --> non funge","info":"try to add a button","x":120,"y":3860,"wires":[]},{"id":"c2c130d7.28ba3","type":"change","z":"ac9c294c.4da1f8","name":"","rules":[{"t":"set","p":"payload","pt":"flow","to":"Buongiorno","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2020,"wires":[["ad79bdee.686af"]]},{"id":"24fde4e7.52795c","type":"inject","z":"ac9c294c.4da1f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":2020,"wires":[["c2c130d7.28ba3"]]},{"id":"2c97141.3123eec","type":"ui_group","name":"Group 2","tab":"d8d1ac70.107ee","order":2,"disp":true,"width":6},{"id":"e10f7789.28eed8","type":"ui_group","name":"Group 1","tab":"d8d1ac70.107ee","order":1,"disp":true,"width":6},{"id":"b750e8e.87cde18","type":"ui_group","name":"cambia-valuta","tab":"414a2b76.3ce37c","order":1,"disp":true,"width":"6","collapse":false},{"id":"d8d1ac70.107ee","type":"ui_tab","name":"Valuta","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"414a2b76.3ce37c","type":"ui_tab","name":"cambia-valuta","icon":"dashboard","disabled":false,"hidden":false}]