mqtt_aedes_get_started.json
[{"id":"e5604969.5f37a8","type":"tab","label":"Aedes MQTT","disabled":true,"info":""},{"id":"307ac5c2.ec533a","type":"mqtt in","z":"e5604969.5f37a8","name":"","topic":"/helloCafa","qos":"2","datatype":"auto","broker":"abf1da65.1b0658","x":100,"y":100,"wires":[["9a8558bf.5cc548"]]},{"id":"a73918e4.a0c478","type":"mqtt out","z":"e5604969.5f37a8","name":"","topic":"/helloCafa","qos":"","retain":"","broker":"abf1da65.1b0658","x":300,"y":180,"wires":[]},{"id":"62c787eb.a55af8","type":"inject","z":"e5604969.5f37a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Prova ","payloadType":"str","x":110,"y":180,"wires":[["a73918e4.a0c478"]]},{"id":"9a8558bf.5cc548","type":"debug","z":"e5604969.5f37a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":100,"wires":[]},{"id":"92c828d5.824ed8","type":"comment","z":"e5604969.5f37a8","name":"Basic MQTT Client in Node-RED","info":"","x":170,"y":40,"wires":[]},{"id":"e413c5d8.d94f98","type":"mqtt in","z":"e5604969.5f37a8","name":"","topic":"/hello","qos":"0","datatype":"auto","broker":"179e5f19.296bb9","x":110,"y":420,"wires":[["34200286.c389ae"]]},{"id":"34200286.c389ae","type":"debug","z":"e5604969.5f37a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":420,"wires":[]},{"id":"d8f81811.be7698","type":"inject","z":"e5604969.5f37a8","name":"inject \"open\" command","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/hello","payload":"open","payloadType":"str","x":160,"y":520,"wires":[["5b8bfd3.bbed704"]]},{"id":"5b8bfd3.bbed704","type":"mqtt out","z":"e5604969.5f37a8","name":"","topic":"/hello","qos":"","retain":"","broker":"179e5f19.296bb9","x":460,"y":540,"wires":[]},{"id":"f89da24b.c238b","type":"inject","z":"e5604969.5f37a8","name":"inject \"closed\" command","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/hello","payload":"closed","payloadType":"str","x":170,"y":600,"wires":[["5b8bfd3.bbed704"]]},{"id":"8bd457c1.1c9618","type":"aedes broker","z":"e5604969.5f37a8","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":450,"y":340,"wires":[[]]},{"id":"898facb1.0a5c8","type":"mqtt in","z":"e5604969.5f37a8","name":"","topic":"/ITS-ICT-Torino","qos":"2","datatype":"auto","broker":"abf1da65.1b0658","x":160,"y":840,"wires":[["3486ef82.cbd9"]]},{"id":"40975a6a.d8e544","type":"mqtt out","z":"e5604969.5f37a8","name":"","topic":"/ITS-ICT-Torino","qos":"","retain":"","broker":"abf1da65.1b0658","x":370,"y":900,"wires":[]},{"id":"b511e0f8.5dd39","type":"inject","z":"e5604969.5f37a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Ciao Ragazz*!","payloadType":"str","x":130,"y":900,"wires":[["40975a6a.d8e544"]]},{"id":"3486ef82.cbd9","type":"debug","z":"e5604969.5f37a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":340,"y":840,"wires":[]},{"id":"950b6029.a353c","type":"comment","z":"e5604969.5f37a8","name":"Basic MQTT Client in Node-RED","info":"","x":170,"y":760,"wires":[]},{"id":"e688810b.516d8","type":"aedes broker","z":"e5604969.5f37a8","d":true,"name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":290,"y":1080,"wires":[[]]},{"id":"6f7290e1.ad0ef","type":"mqtt in","z":"e5604969.5f37a8","d":true,"name":"","topic":"/hello","qos":"2","datatype":"auto","broker":"179e5f19.296bb9","x":130,"y":1140,"wires":[["34b98273.4db2ee"]]},{"id":"99c1ee52.bdec6","type":"mqtt out","z":"e5604969.5f37a8","d":true,"name":"","topic":"/hello","qos":"","retain":"","broker":"179e5f19.296bb9","x":410,"y":1260,"wires":[]},{"id":"94395cc5.8078b","type":"inject","z":"e5604969.5f37a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/hello","payload":"Ciao Ragazz*!","payloadType":"str","x":150,"y":1200,"wires":[["99c1ee52.bdec6"]]},{"id":"34b98273.4db2ee","type":"debug","z":"e5604969.5f37a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":340,"y":1140,"wires":[]},{"id":"3fb32f3f.27905","type":"comment","z":"e5604969.5f37a8","name":"Basic MQTT Client &Server in Node-RED","info":"","x":180,"y":1020,"wires":[]},{"id":"3440937a.d3becc","type":"inject","z":"e5604969.5f37a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/hello","payload":"open","payloadType":"str","x":160,"y":1260,"wires":[["99c1ee52.bdec6"]]},{"id":"33ef222f.36e52e","type":"inject","z":"e5604969.5f37a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/hello","payload":"closed","payloadType":"str","x":150,"y":1320,"wires":[["99c1ee52.bdec6"]]},{"id":"abf1da65.1b0658","type":"mqtt-broker","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"179e5f19.296bb9","type":"mqtt-broker","name":"","broker":"172.20.211.50","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]