project1.json
[{"id":"a90597d3.bc4558","type":"tab","label":"Project","disabled":true,"info":""},{"id":"1ae18aac.c9b5d5","type":"mqtt in","z":"a90597d3.bc4558","name":"","topic":"/data_AZ_GC","qos":"2","datatype":"json","broker":"23789271.e54d6e","nl":false,"rap":true,"rh":0,"x":110,"y":160,"wires":[["979e95cc.a9c118","2f1fdcbf.be35c4"]]},{"id":"2f1fdcbf.be35c4","type":"function","z":"a90597d3.bc4558","name":"","func":"const today = new Date();\nconst year = today.getFullYear();\nconst month = today.getMonth() + 1 // January is 0, WTF Javascript\nconst day = today.getDate();\nconst time = `${today.getHours()}:${today.getMinutes()}:${today.getSeconds()}`;\nconst fullDate = `${day}/${month}/${year}`;\nconst temp = [];\nconst hum = []\n// Push date\ntemp.push(`${fullDate} - ${time}`);\nhum.push(`${fullDate} - ${time}`);\n\n// Push humidity value\nhum.push(msg.payload.hum.toFixed(2) + \" bar\")\n\n// Push temperature\ntemp.push(msg.payload.temp.toFixed(2) + \"°\")\n\n//msg.payload =`${fullDate} ${time} - HUM: ${msg.payload.val1.toFixed(2)} bar - TEMP: ${msg.payload.val2.toFixed(2)}°`\nmsg.payload = hum;\nvar newmessage = { payload: temp }\nreturn [msg, newmessage];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":160,"wires":[["36dee6e.23d721a"],["d4fbe926.016a38"]]},{"id":"36dee6e.23d721a","type":"GSheet","z":"a90597d3.bc4558","creds":"11076975.d43f17","method":"append","action":"","sheet":"1KbvnfBuWgoP33ka-rE_yz4nTNQfD064LObijOrTljyI","cells":"Humidity!A2","flatten":false,"name":"Google Sheet","x":600,"y":120,"wires":[[]]},{"id":"3d387c3c.c9a244","type":"mqtt out","z":"a90597d3.bc4558","name":"","topic":"/data_AZ_GC","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"23789271.e54d6e","x":420,"y":80,"wires":[]},{"id":"d19832c1.4a72","type":"inject","z":"a90597d3.bc4558","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":80,"wires":[["3d387c3c.c9a244"]]},{"id":"979e95cc.a9c118","type":"debug","z":"a90597d3.bc4558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":240,"wires":[]},{"id":"d4fbe926.016a38","type":"GSheet","z":"a90597d3.bc4558","creds":"11076975.d43f17","method":"append","action":"","sheet":"1KbvnfBuWgoP33ka-rE_yz4nTNQfD064LObijOrTljyI","cells":"Temperature!A2","flatten":false,"name":"Google Sheet","x":600,"y":180,"wires":[[]]},{"id":"8659844d.c74128","type":"mqtt in","z":"a90597d3.bc4558","name":"","topic":"/check_NFC_code","qos":"2","datatype":"json","broker":"23789271.e54d6e","nl":false,"rap":true,"rh":0,"x":130,"y":340,"wires":[["f558ee27.70097"]]},{"id":"47d3d0b0.d4bd7","type":"mqtt out","z":"a90597d3.bc4558","name":"","topic":"/check_NFC_result","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"23789271.e54d6e","x":970,"y":340,"wires":[]},{"id":"eda1a522.cb8d08","type":"function","z":"a90597d3.bc4558","name":"","func":"var codice=msg.code;\nconsole.log(msg.payload.length);\nfor(i=0; i<=msg.payload.length-1; i++){\n    var codiceUser=msg.payload[i]\n    if(codice==codiceUser)\n    {\n        msg.payload=\"OK\";\n        break;\n    }\n    else{\n        msg.payload=\"NO\";\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":340,"wires":[["47d3d0b0.d4bd7"]]},{"id":"79ce5479.4d549c","type":"GSheet","z":"a90597d3.bc4558","creds":"e9b8131a.fca22","method":"get","action":"","sheet":"1KbvnfBuWgoP33ka-rE_yz4nTNQfD064LObijOrTljyI","cells":"Users!C2:C6","flatten":true,"name":"","x":570,"y":340,"wires":[["eda1a522.cb8d08"]]},{"id":"f558ee27.70097","type":"change","z":"a90597d3.bc4558","name":"","rules":[{"t":"set","p":"code","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":340,"wires":[["79ce5479.4d549c"]]},{"id":"23789271.e54d6e","type":"mqtt-broker","name":"HIVEMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"11076975.d43f17","type":"gauth"},{"id":"e9b8131a.fca22","type":"gauth"}]