simulazione_esame.json
[{"id":"f2466249.0b7d2","type":"tab","label":"Simulazione_esame","disabled":true,"info":""},{"id":"a88cfff2.23888","type":"mqtt in","z":"f2466249.0b7d2","name":"","topic":"/itsData-01","qos":"2","datatype":"json","broker":"23789271.e54d6e","nl":false,"rap":true,"rh":0,"x":140,"y":600,"wires":[["639fcb99.d5e914"]]},{"id":"baf405df.7599f8","type":"ui_worldmap","z":"f2466249.0b7d2","group":"4f56608e.45bfd","order":28,"width":19,"height":12,"name":"","lat":"45.070312","lon":"7.6868565","zoom":"9","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":580,"y":720,"wires":[]},{"id":"c03cb592.4c2cb8","type":"mqtt in","z":"f2466249.0b7d2","name":"","topic":"/itsData-02","qos":"2","datatype":"json","broker":"23789271.e54d6e","nl":false,"rap":true,"rh":0,"x":140,"y":660,"wires":[["674abbb5.fe1cf4"]]},{"id":"5194aa98.33f1e4","type":"mqtt in","z":"f2466249.0b7d2","name":"","topic":"/itsData-03","qos":"2","datatype":"json","broker":"23789271.e54d6e","nl":false,"rap":true,"rh":0,"x":140,"y":720,"wires":[["826fa5a8.0b4f98"]]},{"id":"1772393a.009be7","type":"mqtt in","z":"f2466249.0b7d2","name":"","topic":"/itsData-04","qos":"2","datatype":"json","broker":"23789271.e54d6e","nl":false,"rap":true,"rh":0,"x":140,"y":780,"wires":[["cbc6dc5d.fb9b1"]]},{"id":"94b6c5a5.0c3428","type":"mqtt in","z":"f2466249.0b7d2","name":"","topic":"/itsData-05","qos":"2","datatype":"json","broker":"23789271.e54d6e","nl":false,"rap":true,"rh":0,"x":140,"y":840,"wires":[["2c366ecc.123132"]]},{"id":"639fcb99.d5e914","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload.lat","pt":"msg","to":"44.962428035626495","tot":"num"},{"t":"set","p":"payload.lon","pt":"msg","to":"7.357912672036248","tot":"num"},{"t":"set","p":"payload.name","pt":"msg","to":"Cumiana","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":600,"wires":[["baf405df.7599f8","381d674b.d2e0f8","329ac221.fb6bbe"]]},{"id":"674abbb5.fe1cf4","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload.lat","pt":"msg","to":"44.94991463424158","tot":"num"},{"t":"set","p":"payload.lon","pt":"msg","to":"7.539966873064992","tot":"num"},{"t":"set","p":"payload.name","pt":"msg","to":"None","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":660,"wires":[["baf405df.7599f8","199277ba.00a9e8","e97728c4.b8d5e8"]]},{"id":"826fa5a8.0b4f98","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload.lat","pt":"msg","to":"44.944415116385535","tot":"num"},{"t":"set","p":"payload.lon","pt":"msg","to":"7.487877952595331","tot":"num"},{"t":"set","p":"payload.name","pt":"msg","to":"Airasca","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":720,"wires":[["baf405df.7599f8","77b98f22.a90a4","cd7cb547.6e0a58"]]},{"id":"cbc6dc5d.fb9b1","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload.lat","pt":"msg","to":"44.967404803809565","tot":"num"},{"t":"set","p":"payload.lon","pt":"msg","to":"7.661619335356513","tot":"num"},{"t":"set","p":"payload.name","pt":"msg","to":"Vinovo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":780,"wires":[["baf405df.7599f8","d1338af4.3bb6a8","fe25e169.a00a8"]]},{"id":"2c366ecc.123132","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload.lat","pt":"msg","to":"44.99616073029345","tot":"num"},{"t":"set","p":"payload.lon","pt":"msg","to":"7.673755763926399","tot":"num"},{"t":"set","p":"payload.name","pt":"msg","to":"Moncalieri","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":840,"wires":[["baf405df.7599f8","b09f197a.90c0e8","97670548.e52ad8"]]},{"id":"381d674b.d2e0f8","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.slm","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":780,"wires":[["9e2c3f86.1a7c3"]]},{"id":"199277ba.00a9e8","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.slm","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":820,"wires":[["9e2c3f86.1a7c3"]]},{"id":"77b98f22.a90a4","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.slm","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":860,"wires":[["9e2c3f86.1a7c3"]]},{"id":"d1338af4.3bb6a8","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.slm","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":900,"wires":[["9e2c3f86.1a7c3"]]},{"id":"b09f197a.90c0e8","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.slm","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":940,"wires":[["9e2c3f86.1a7c3"]]},{"id":"45f83a28.932c24","type":"ui_slider","z":"f2466249.0b7d2","name":"","label":"01","tooltip":"","group":"4f56608e.45bfd","order":4,"width":11,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"500","step":"5","x":470,"y":1040,"wires":[["aebab7fd.5562d8"]]},{"id":"6bd6597c.f26fa8","type":"ui_slider","z":"f2466249.0b7d2","name":"","label":"02","tooltip":"","group":"4f56608e.45bfd","order":6,"width":11,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"500","step":"5","x":470,"y":1080,"wires":[["5bf52941.6d9308"]]},{"id":"7b4aaa25.725d24","type":"ui_slider","z":"f2466249.0b7d2","name":"","label":"03","tooltip":"","group":"4f56608e.45bfd","order":8,"width":11,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"500","step":"5","x":470,"y":1120,"wires":[["11275428.c90e8c"]]},{"id":"403cdca2.001274","type":"ui_slider","z":"f2466249.0b7d2","name":"","label":"04","tooltip":"","group":"4f56608e.45bfd","order":10,"width":11,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"500","step":"5","x":470,"y":1160,"wires":[["3771aefc.107c32"]]},{"id":"96400f5a.d688d","type":"ui_slider","z":"f2466249.0b7d2","name":"","label":"05","tooltip":"","group":"4f56608e.45bfd","order":13,"width":11,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"500","step":"5","x":470,"y":1200,"wires":[["716dceaf.04e0d"]]},{"id":"aebab7fd.5562d8","type":"switch","z":"f2466249.0b7d2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"payload.slm","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1040,"wires":[["b05b9b73.4b44d8"]]},{"id":"b05b9b73.4b44d8","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"01.alertSlm","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1040,"wires":[[]]},{"id":"26d7b48d.778bdc","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"02.alertSlm","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1080,"wires":[[]]},{"id":"fa9ff724.778328","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"03.alertSlm","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1120,"wires":[[]]},{"id":"13e31fa0.42813","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"04.alertSlm","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1160,"wires":[[]]},{"id":"6933dd3.077fe24","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"05.alertSlm","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1200,"wires":[[]]},{"id":"9e2c3f86.1a7c3","type":"ui_chart","z":"f2466249.0b7d2","name":"","group":"4f56608e.45bfd","order":16,"width":19,"height":11,"label":"SLM chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":860,"wires":[[]]},{"id":"a563cd77.d3944","type":"mqtt out","z":"f2466249.0b7d2","name":"","topic":"/itsData-01","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"23789271.e54d6e","x":550,"y":140,"wires":[]},{"id":"8e15a975.11eaa8","type":"inject","z":"f2466249.0b7d2","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"slm\":2,\"temp\":20,\"hum\":100}","payloadType":"json","x":110,"y":220,"wires":[["c025e4f.dc5d418","f9af2f1f.744b1","2d91292e.128c06","46093325.28b4cc","e9616d06.09243"]]},{"id":"c025e4f.dc5d418","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload.temp","pt":"msg","to":"$random()*100","tot":"jsonata"},{"t":"set","p":"payload.hum","pt":"msg","to":"$random()*10","tot":"jsonata"},{"t":"set","p":"payload.slm","pt":"msg","to":"$random()*100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":140,"wires":[["a563cd77.d3944"]]},{"id":"d3aedea3.9f224","type":"mqtt out","z":"f2466249.0b7d2","name":"","topic":"/itsData-02","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"23789271.e54d6e","x":550,"y":200,"wires":[]},{"id":"f0f9705e.ba453","type":"mqtt out","z":"f2466249.0b7d2","name":"","topic":"/itsData-03","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"23789271.e54d6e","x":550,"y":260,"wires":[]},{"id":"3487bc30.6b7ec4","type":"mqtt out","z":"f2466249.0b7d2","name":"","topic":"/itsData-04","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"23789271.e54d6e","x":550,"y":320,"wires":[]},{"id":"429e550e.7f583c","type":"mqtt out","z":"f2466249.0b7d2","name":"","topic":"/itsData-05","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"23789271.e54d6e","x":550,"y":380,"wires":[]},{"id":"f9af2f1f.744b1","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload.temp","pt":"msg","to":"$random()*100","tot":"jsonata"},{"t":"set","p":"payload.hum","pt":"msg","to":"$random()*10","tot":"jsonata"},{"t":"set","p":"payload.slm","pt":"msg","to":"$random()*100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["d3aedea3.9f224"]]},{"id":"2d91292e.128c06","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload.temp","pt":"msg","to":"$random()*100","tot":"jsonata"},{"t":"set","p":"payload.hum","pt":"msg","to":"$random()*10","tot":"jsonata"},{"t":"set","p":"payload.slm","pt":"msg","to":"$random()*100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":260,"wires":[["f0f9705e.ba453"]]},{"id":"46093325.28b4cc","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload.temp","pt":"msg","to":"$random()*100","tot":"jsonata"},{"t":"set","p":"payload.hum","pt":"msg","to":"$random()*10","tot":"jsonata"},{"t":"set","p":"payload.slm","pt":"msg","to":"$random()*100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":320,"wires":[["3487bc30.6b7ec4"]]},{"id":"e9616d06.09243","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload.temp","pt":"msg","to":"$random()*100","tot":"jsonata"},{"t":"set","p":"payload.hum","pt":"msg","to":"$random()*10","tot":"jsonata"},{"t":"set","p":"payload.slm","pt":"msg","to":"$random()*100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":380,"wires":[["429e550e.7f583c"]]},{"id":"6641746d.35855c","type":"inject","z":"f2466249.0b7d2","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"slm\":250,\"temp\":20,\"hum\":100}","payloadType":"json","x":110,"y":300,"wires":[["a563cd77.d3944","d3aedea3.9f224","f0f9705e.ba453","429e550e.7f583c"]]},{"id":"e67cf0cb.77d51","type":"comment","z":"f2466249.0b7d2","name":"Parte del prof","info":"","x":260,"y":60,"wires":[]},{"id":"5bf52941.6d9308","type":"switch","z":"f2466249.0b7d2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"payload.slm","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1080,"wires":[["26d7b48d.778bdc"]]},{"id":"11275428.c90e8c","type":"switch","z":"f2466249.0b7d2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"payload.slm","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1120,"wires":[["fa9ff724.778328"]]},{"id":"3771aefc.107c32","type":"switch","z":"f2466249.0b7d2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"payload.slm","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1160,"wires":[["13e31fa0.42813"]]},{"id":"716dceaf.04e0d","type":"switch","z":"f2466249.0b7d2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"payload.slm","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1200,"wires":[["6933dd3.077fe24"]]},{"id":"f794a02.6ef076","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"212.59","tot":"num"},{"t":"set","p":"01.alertSlm","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"02.alertSlm","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"03.alertSlm","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"04.alertSlm","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"05.alertSlm","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1120,"wires":[["45f83a28.932c24","6bd6597c.f26fa8","7b4aaa25.725d24","403cdca2.001274","96400f5a.d688d"]]},{"id":"444b036f.12a84c","type":"ui_button","z":"f2466249.0b7d2","name":"set alert","group":"4f56608e.45bfd","order":1,"width":11,"height":1,"passthru":false,"label":"Set alertSlm to default (212.59)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":1120,"wires":[["f794a02.6ef076"]]},{"id":"2345888b.c749f8","type":"ui_toast","z":"f2466249.0b7d2","d":true,"position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"topic":"alertSlm","name":"alertSlm_PopPup","x":1290,"y":660,"wires":[]},{"id":"329ac221.fb6bbe","type":"switch","z":"f2466249.0b7d2","name":"","property":"01.alertSlm","propertyType":"flow","rules":[{"t":"lt","v":"payload.slm","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":580,"wires":[["83e3afc2.568e9","a09c3490.070558"]]},{"id":"e97728c4.b8d5e8","type":"switch","z":"f2466249.0b7d2","name":"","property":"02.alertSlm","propertyType":"flow","rules":[{"t":"lt","v":"payload.slm","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":620,"wires":[["83e3afc2.568e9","a684e76f.0d5bd8"]]},{"id":"cd7cb547.6e0a58","type":"switch","z":"f2466249.0b7d2","name":"","property":"03.alertSlm","propertyType":"flow","rules":[{"t":"lt","v":"payload.slm","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":660,"wires":[["83e3afc2.568e9","4604b218.59d67c"]]},{"id":"fe25e169.a00a8","type":"switch","z":"f2466249.0b7d2","name":"","property":"04.alertSlm","propertyType":"flow","rules":[{"t":"lt","v":"payload.slm","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":700,"wires":[["83e3afc2.568e9","5e8e2be8.2c14c4"]]},{"id":"97670548.e52ad8","type":"switch","z":"f2466249.0b7d2","name":"","property":"05.alertSlm","propertyType":"flow","rules":[{"t":"lt","v":"payload.slm","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":740,"wires":[["83e3afc2.568e9","5934c484.236d7c"]]},{"id":"83e3afc2.568e9","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Pericolo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":660,"wires":[["2345888b.c749f8"]]},{"id":"dc4efe6d.b8cb2","type":"ui_text","z":"f2466249.0b7d2","group":"4f56608e.45bfd","order":3,"width":12,"height":1,"name":"","label":"Alert text","format":"{{msg.payload}}","layout":"col-center","x":1300,"y":880,"wires":[]},{"id":"a09c3490.070558","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Attivazione Pompa 01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":800,"wires":[["dc4efe6d.b8cb2"]]},{"id":"a684e76f.0d5bd8","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Attivazione Pompa 02","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":840,"wires":[["dc4efe6d.b8cb2"]]},{"id":"4604b218.59d67c","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Attivazione Pompa 03","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":880,"wires":[["dc4efe6d.b8cb2"]]},{"id":"5e8e2be8.2c14c4","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Attivazione Pompa 04","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":920,"wires":[["dc4efe6d.b8cb2"]]},{"id":"5934c484.236d7c","type":"change","z":"f2466249.0b7d2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Attivazione Pompa 05","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":960,"wires":[["dc4efe6d.b8cb2"]]},{"id":"23789271.e54d6e","type":"mqtt-broker","name":"HIVEMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4f56608e.45bfd","type":"ui_group","name":"Wrapper","tab":"9e9bcfa5.d4acf","order":1,"disp":true,"width":"26","collapse":false},{"id":"9e9bcfa5.d4acf","type":"ui_tab","name":"Simulazione_esame","icon":"dashboard","order":19,"disabled":false,"hidden":false}]git commit -m "first commit"